.service-names {
  &__info {
    padding: 0 16px;
    ul {
      padding: 0;
      list-style: none;
      li {
        font-weight: $font-regular;
      }
    }
  }
  &__horoscope {
  .horoscope-item {
    padding-top: 60px;
    position: relative;
    display: inline-block;
    font-size: $font-size-sm;
    text-decoration: none;
    color: $color-text-dark;
    min-width: 66px;
    font-weight: $font-regular;
    &.horoscope-item--capricon {
      background: url(../img/capricon.png) no-repeat top center;
    }
    &.horoscope-item--aquarius {
      background: url(../img/aquarius.png) no-repeat top center;
    }
    &.horoscope-item--virgo {
      background: url(../img/virgo.png) no-repeat top center;
    }
    &.horoscope-item--taurus {
      background: url(../img/taurus.png) no-repeat top center;
    }
  }

  }
  &__compatibility {
    margin-top: 40px;
    padding:  0 16px;
    ul {
      list-style: none;
      font-weight: $font-regular;
      font-size: $font-size-no;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        padding: 0 5px 10px;
      }
    }
  }
  &__talisman {
    padding: 0 16px;
    margin-bottom: 30px;
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        font-size: $font-size-no;
        font-weight: $font-medium;
        padding-bottom: 10px;
        span {
          font-weight: $font-regular;
        }
      }
    }
  }
  &__derived {
    margin-bottom: 40px;
    padding: 0 16px;
   ul {
     padding: 0;
     list-style: none;
     text-align: center;
     li {
       display: inline-block;
       font-size: $font-size-no;
       padding: 0 10px 10px;

     }
   }
  }
  &__famous {
    padding: 0 16px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      li {
        display: inline-block ;
        vertical-align: top;
        width: 50%;
        margin: 0 -1px;
        text-align: center;
        padding-bottom: 20px;
        .uppercase-title-sm {
          text-transform: uppercase;
          font-size: $font-size-sm;
          margin: 10px 20px 20px;
          min-height: 28px;
        }
      }
    }
  }
  &__also-see {
    padding: 0 16px;
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        padding: 0 20px;
        a {
          font-size: $font-size-no;
        }
      }
    }
  }

}