.service-birthcalendar {
  .service__title {
    margin-bottom: 20px;
  }
  .service__text {
    font-weight: $font-regular;
    line-height: 20px;
    p {
      margin-top: 0;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
    }
  }
  .pregnancy-count {
    &.pregnancy-count--shadow {
      background: $color-white;
      box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.04);
      padding: 20px 16px;
      margin: 20px 0 40px;
      .pregnancy-count__form {
        margin: 0;
      }
    }
    .pregnancy-count__form {
      margin: 20px 16px 40px;
    }
    .pregnancy-count__result {
      background: $color-notice;
      text-align: center;
      border-radius: 100%;
      display: inline-block;
      padding: 20px;
      margin: 10px 0px 0 0;
      width: 100px;
      height: 100px;
      box-sizing: border-box;
      .num {
        font-size: 34px;
        font-weight: $font-medium;
        color: $color-white;
      }
      .text {
        font-size: $font-size-sm;
        color: $color-white;
        font-weight: $font-regular;
      }
    }
    .pregnancy-count__result--devide {
      display: inline-block;
      background: url(../img/icons/okr.png) no-repeat top center;
      width: 25px;
      height: 25px;
      margin: 0 20px;
    }
    .pregnancy-count__date-result {
      font-size: 34px;
      font-weight: 500;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
      color: $color-btn-dark-text;
    }
  }

  .birthcalendar-article {
    margin-bottom: 20px;
    .birthcalendar-article__inner {
      background: $color-white;
      padding: 10px 16px;
      .birthcalendar-article__img {
        text-align: center;
        margin-bottom: 30px;
      }
      .birthcalendar-article__title {
        font-size: $font-size-no;
        color: $color-text-dark;
        margin-bottom: 20px;
        font-weight: $font-regular;
      }
      .birthcalendar-article__text {
        font-size: $font-size-md;
        white-space: normal;
        margin-bottom: 30px;
      }

    }
  }
  .birthcalendar-slider {
    margin-bottom: 20px;
    img {
      max-width: 100%;
    }
    .slider {
      border-top: 4px solid #fff;
      border-bottom: 4px solid #fff;
      margin-top: 20px;
      .nav.slider-control {
        position: absolute;
        bottom: 0;
        padding: 20px 0;
        background: rgba(66, 66, 66, 0.5);
      }
    }
  }
  .diagnostic-time {
    &__title {
      margin-bottom: 10px;
    }
    &__subtitle {
      font-size: $font-size-no;
      font-weight: $font-regular;
      margin-bottom: 20px;
    }
  }
  .birthcalendar-inner {
    background: $color-white;
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.04);
    margin-bottom: 20px;
    padding: 20px 16px;
    .birthcalendar-inner__slider {
      text-align: center;
      .birthcalendar-inner__slide-title {
        font-size: $font-size-no;
        margin: 10px 0 30px;
      }
    }
  }
}

.weight-form {
  padding: 20px 16px;
  .weight-form__title {
    font-size: $font-size-sm;
    color: $color-text-lightest;
    margin-bottom: 10px;
  }
  .weight-form__week {
    padding-left: 70px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: url(../img/birthcalendar/wd.png) no-repeat center/contain;
      left: 10px;
      top: 26px;
    }
  }
  .weight-form__growth {
    padding-left: 70px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: url(../img/birthcalendar/wt.png) no-repeat center/contain;
      left: 10px;
      top: 26px;
    }
  }
  .weight-form__weight-b {
    padding-left: 70px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: url(../img/birthcalendar/ww.png) no-repeat center/contain;
      left: 10px;
      top: 26px;
    }
  }
  .weight-form__weight-a {
    padding-left: 70px;
    position: relative;
  }
}


.analysis-calendar {
  .analysis-calendar__header {
    .analysis-calendar__title {
      text-transform: uppercase;
      text-align: center;
      margin: 20px 0;
    }
  }
  .analysis-calendar__body {
    padding: 0 16px;
   ul {padding: 0; margin: 0; list-style: none; text-align: center;
     > li {display: inline-block; width: 20% !important; }
     > li a { display: inline-block; font-size: 18px; font-weight: $font-regular; text-decoration: none;  border-radius: 100%; width: 40px !important; height: 40px; line-height: 40px;}
    &.analysis-calendar__first {
      > li a {color: $color-active; border: 1px solid $color-active;}
      > li.active a {color: #fff; background: $color-active;}
    }
     &.analysis-calendar__second {
       > li a {color: $color-text-gold; border: 1px solid $color-text-gold;}
       > li.active a {color: #fff; background: $color-text-gold;}
     }
     &.analysis-calendar__third {
       > li a {color: $color-limit; border: 1px solid $color-limit;}
       > li.active a {color: #fff; background: $color-limit;}
     }
   }

  }
}

.weight {
  background: #fff;
  padding: 20px 0;
  .weight-scale { text-align: center;
    .weight-scale__item {position: relative; display: inline-block; width: 33%; margin: 0 -1px; text-align: center;
      .weight-scale__title {color: white; font-size: $font-size-sm; font-weight: $font-medium; padding: 10px; margin-bottom: 10px;}
      .weight-scale__coclus {text-transform: uppercase; font-size: $font-size-sm; font-weight: $font-medium;}
      &.weight-scale__item--less {
        .weight-scale__title {color: white; background: $color-notice;}
        .weight-scale__coclus {color: $color-notice;}
      }
      &.weight-scale__item--norm {
        .weight-scale__title {color: white; background: $color-confirm;}
        .weight-scale__coclus {color: $color-confirm;}
        .weight-scale__label {color: $color-btn-confirm-text; border: 1px solid $color-btn-confirm-text; position: relative; margin-bottom: 20px; font-size: $font-size-sm; padding: 10px 0;
        &:after { width: 8px;
          height: 8px;
          border-bottom: 1px solid $color-btn-confirm-text;
          border-left: 1px solid $color-btn-confirm-text;
          position: absolute;
          right: 0;
          left: 0;
          content: " ";
          bottom: -6px;
          margin: auto;
          transform: rotate(-45deg);
          background: #fff;
        }
          span {font-size: $font-size-md; color: $color-btn-confirm-text;}
        }
      }
      &.weight-scale__item--much {
        .weight-scale__title {color: white; background: $color-limit;}
        .weight-scale__coclus {color: $color-limit;}
      }
    }

  }
  .bmi-num {font-size: $font-size-h2; text-align: center;}
  .bmi-scale {
    text-align: center;
    margin-top: 20px;
    .bmi-scale__item {
      display: inline-block;
      width: 33%;
      margin: 0 -1px;
      padding: 110px 0 20px;
      &.bmi-scale__item--small {
        color: $color-notice;
        background: url("../img/birthcalendar/bmin.png") no-repeat center 20px;
      }
      &.bmi-scale__item--middle {
        color: $color-btn-confirm-text;
        background: url("../img/birthcalendar/intl.png") no-repeat center 20px;
        &.active {border: 1px solid $color-btn-confirm-text;}
      }
      &.bmi-scale__item--big {
        color: $color-limit;
        background: url("../img/birthcalendar/bmih.png") no-repeat center 20px;
      }
    }
  }
  .weight-body-part {
    background: #f3f3f3 url("../img/birthcalendar/rwbg.png") no-repeat left center;
    position: relative;
    margin: 20px 10px;
    min-height: 230px;
    padding-top: 20px;
    .weight-body-part__item {text-align: left;
      right: 0;
      margin-bottom: 5px;
      padding-right: 10px;
      max-width: 80px;
      margin-left: auto;}
    .weight-body-part__name {font-size: 8px;}
    .weight-body-part__kg {font-size: 8px; font-weight: bold;}


  }
}
