 .contests {
	.contests__list {
		.contest {
			position: relative; @include padding(2,1); background: #FFF;
			.contest__status {position: absolute; top: 50px; right: 12px;  padding: 0px 16px; color: #FFF; background: #F6BC03; font-size: $font-size-sm; font-weight: $font-medium; border-radius: $border-radius-small; line-height: 24px; @include shadow-button();}
			.contest__closed {@extend .contest__status; background: #818E98;}
			.contest_category {color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-medium; text-decoration: none;}
			.contest__title {display: block; margin: 0 0 $mv 0; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-regular; font-style: italic;}
			.contest__description {display: block; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-regular;}
		}
	}
}