.service-gender {
  box-shadow: none;
  margin-bottom: 40px;
  .service__title {
    margin-bottom: 30px;
  }
  .service__text {
    margin-bottom: 30px;
    line-height: 20px;
    font-weight: $font-regular;
  }
  .gender__subtitle {
    margin: 10px 0;
    font-weight: $font-medium;
  }
  .gender__choose {
    &.gender__choose--main {
      background: $color-white;
      margin-bottom: 40px;
      @include shadow-light();
    }
  }
  .gender__choose--wrapper {
    background: url(../img/gender/gender-bg.png) no-repeat top center;
    padding-top: 138px;
  }
  .gender__choose--title {
    text-align: center;
    font-size: $font-size-h3;
    div {
      color: $color-text-carrot;
      font-weight: $font-medium;
      &:first-child {
        font-size: $font-size-h1;
      }
    }
  }
  .gender__choose--methods {
    margin-top: 40px;
    text-align: center;
    .method--item {
      max-width: 130px;
      height: 130px;
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-text-darkest;
      font-weight: $font-regular;
      font-size: $font-size-sm;
      text-align: center;
      border-radius: 100%;
      padding: 70px 20px 20px;
      margin: 0 5px 20px;
      box-sizing: border-box;
      background-color: $color-bg-beidge;
      @include shadow-block();
      &:before {
        content: '';
        width: 49px;
        height: 45px;
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &.blood__refresh:before {
        content: '';
        background: url(../img/gender/refresh-blood-icon.png) no-repeat center;
      }
      &.blood__group:before {
        content: '';
        background: url(../img/gender/blood-group-icon.png) no-repeat center;
      }
      &.japanese__table:before {
        content: '';
        background: url(../img/gender/japan-method-icon.png) no-repeat center;
      }
      &.chinese_table:before {
        content: '';
        background: url(../img/gender/chinese-method-icon.png) no-repeat center;
      }

    }
  }
  .gender__method--wrapper {
    padding: 10px 0 30px;
    border-top: 4px solid $color-white;
    background: $color-white url("../img/bg/bg-gender.png") no-repeat;
    .gender__method--form {
     padding: 0 16px;
    }
    .gender__section-title {
      font-size: $font-size-sm;
      font-weight: $font-medium;
      color: $color-text-lightest;
      margin-bottom: $margin-default-h;
    }
    .gender-form {
      position: relative;
      padding: 0 0 0 25px;
      &.gender-form-father:before {
        content: '';
        background: url("../img/gender/father-icon.png") no-repeat;
        position: absolute;
        width: 26px;
        height: 48px;
        left: -10px;
        top: 29px;
      }
      &.gender-form-mom:before {
        content: '';
        background: url("../img/gender/mom-icon.png") no-repeat;
        position: absolute;
        width: 26px;
        height: 48px;
        left: -10px;
        top: 29px;
      }
      &.gender-form-zigota:before {
        content: '';
        background: url("../img/gender/zigota-icon.png") no-repeat;
        position: absolute;
        width: 37px;
        height: 37px;
        left: -16px;
        background-size: contain;
        top: 39px;
      }
    }
  }
  .baby-gender-result {
    background: url(../img/gender/gender-result-bg.png) no-repeat center;
    padding: 40px 0;
    margin-bottom: 20px;
    .gender__choose--methods {
      margin-top: 20px;
    }
    .baby-gender-result__inner {
      text-align: center;
      background: $color-bg-beidge;
      border-radius: 100%;
      position: relative;
      padding: 50px 0 120px;
      margin: 0 auto;
      width: 250px;
      height: 250px;
      box-sizing: border-box;
      &:before {
        content: '';
        position: absolute;
        width: 144px;
        height: 80px;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: auto;
      }
      div {
        font-size: $font-size-no;
        text-transform: uppercase;
        &:first-child {
          font-size: $font-size-h3;
          line-height: 30px;

        }
      }
    }
    &.boy .baby-gender-result__inner {
      &:before {
        content: '';
        background: url(../img/gender/boy-result.png) no-repeat center;
      }
      div {
        color: $color-gender-boy;
        span {
          color: $color-gender-boy;
        }
      }
    }
    &.girl .baby-gender-result__inner {
      &:before {
        content: '';
        background: url(../img/gender/girl-result.png) no-repeat center;
      }
      div {
        color: $color-gender-girl;
        span {
          color: $color-gender-girl;
        }
      }
    }
    &.hermaphrodite .baby-gender-result__inner {
      &:before {
        content: '';
        background: url(../img/gender/gb-result.png) no-repeat center;
        width: 182px;
        height: 85px;
        background-position: -4px;
      }
      div.gb-text {
        color: $color-text-dark;
        font-size: $font-size-no;
        margin-top: 10px;
        line-height: 1.3;
      }
    }
  }
  .gender-method-japan {
    .form-group.form-group-birthday .form-birthday-month {
      width: 100%;
      margin: 0;
    }
  }
  .gender-method-group-blood {
    .gender-form {
      padding-right: 0;
    }
    .entries .entries__list .entry .entry__body {
      background: transparent;
      padding-bottom: 0;
    }
    .blood__group--btn {
      display: inline-block;
      text-decoration: none;
      border: 2px solid $color-border-dark;
      border-radius: 100%;
      font-size: $font-size-h2;
      height: 45px;
      box-sizing: border-box;
      width: 45px;
      text-align: center;
      line-height: 45px;
      color: $color-text-dark;
      font-weight: $font-regular;
      margin: 0 8px;
      &.active {
        border-color: $color-limit;
        color: $color-limit;
      }
    }
  }
  .gender-method-chinease {
    &.gender__method--wrapper {
      padding-top: 35px;
    }
    .form-group.form-group-birthday .form-birthday-month {
      width: 100%;
      margin: 0;
    }
  }
  .chienese-results {
    width: 100%;
    tbody td {
      text-align: center;
      font-size: 8px;
      font-weight: $font-medium;
      &.active .girl {
        background: $color-bg-beidge url("../img/gender/cn-girl-active.png") no-repeat;
      }
      &.active .boy {
        background: $color-bg-beidge url("../img/gender/cn-boy-active.png") no-repeat;
      }

        .girl.active {
          border: 1px solid $color-gender-girl;
          background: $color-bg-beidge url("../img/gender/cn-girl-active.png") no-repeat;
        }
        .boy.active {
          border: 1px solid $color-gender-boy;
          background: $color-bg-beidge url("../img/gender/cn-boy-active.png") no-repeat;
        }

      .girl {
        background: $color-bg-beidge url(../img/gender/cn-girl.png) no-repeat center;
        width: 19px;
        height: 19px;
        border-radius: 100%;
        text-align: center;
        margin: auto;

      }
      .boy {
        background: $color-bg-beidge url("../img/gender/cn-boy.png") no-repeat center;
        width: 19px;
        height: 19px;
        border-radius: 100%;
        text-align: center;
        margin: auto;

      }
    }
  }

    .entries .entries__list .entry .entry__body {
      background: $color-white;
    }
    .entries .entries__list .entry .entry__comment .entry__comment-open {
      color: $color-btn-confirm;
    }
    .entries .entries__list .entry.entry-nobg {
      background: transparent;
      border: none;
      padding: 0 16px;
    }
}
#result {
  display: none;
  background: $color-main-bg;
  padding-top: 40px;
}