
.services-icons {
	position: relative; margin: 0 0 $mv*4 0;
	.services-icons__inner {
		padding: 0 0 $mv*2 0; margin: 0 0 $mv*2 0; background: #FFF; text-align: center; box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.04);
		.services-icons__slides {
			display: inline-block; margin: 0; font-size: 0;
			.services-icons__slide {
				display: inline-block; width: 100%; margin: 0; white-space: normal; vertical-align: top; box-sizing: border-box;
				> div {
					display: inline-block; width: 50%; height: 190px; margin: 0; vertical-align: top; box-sizing: border-box;
					> a {
						position: relative; display: block; font-size: $font-size-no; font-weight: $font-regular;
						height: 190px; padding: 120px 10px 30px 10px;
						color: $color-text-dark; background-position: center top; 
						text-align: center; text-decoration: none; border-radius: 100%; box-sizing: border-box;
						&::after {content: ''; @include abs-center-h; top: 20px; width: 90px; height: 90px; background-repeat: no-repeat; background-size: 90px 90px; border-radius: 100%;}

						&.icons-services-name {background-image: url(../img/service-name.png);}


						&.icons-services-rating {background-image: url(../img/service-rating.png); }
						&.icons-services-pregnancy {background-image: url(../img/service-pregnancy.png); }
						&.icons-services-progress {background-image: url(../img/service-progress.png); }
					}
					
					&.calc-weight a::after {background-image: url(https://static.detstrana.ru/public/user/4b/19/07/70b39_a533.jpg);}
					&.babyGender a::after {background-image: url(https://static.detstrana.ru/public/user/5e/5f/0e/e430d_bd49.jpg);}
					&.names a::after {background-image: url(https://static.detstrana.ru/public/user/4d/19/07/70b3b_b5d6.jpg);}
					&.dream a::after {background-image: url(https://static.detstrana.ru/public/user/e5/0b/10/febea_4b7c.jpg);}
					&.encyclopedia_nutrition a::after {background-image: url(https://static.detstrana.ru/public/user/e2/0b/10/febe7_c163.jpg);}
					&.maternity_hospitals_rating a::after {background-image: url(https://static.detstrana.ru/public/user/dc/0b/10/febe1_67ec.jpg);}
					&.recipies a::after {background-image: url(https://static.detstrana.ru/public/user/df/0b/10/febe4_c2e1.jpg);}
					&.rating_mult_and_film a::after {background-image: url(https://static.detstrana.ru/public/user/d9/0b/10/febde_6957.jpg);}
					&.recommended_product a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.birthcalendar a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.pharma a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.dower_baby a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.child a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.birthdate a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.things_to_hospital a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.tips a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.decree a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.skazki_raskraski a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/services-icons.png);}
					&.ovulation a::after {background-image: url(https://detstrana.ru/application/themes/modern/img/ovulation.jpg);}
					&.games a::after {background-image: url(https://static.detstrana.ru/public/user/85/fe/06/6f18d_9d83.jpg);}

					&:nth-child::after {content: ' '; display: table;}
				}
			}
		}
	}
}

