.profile {
	.profile__title {margin: 0 0 $mv 0; color: $color-text-dark; font-size: $font-size-h2; font-weight: $font-regular; text-align: center;}
	.profile__step {margin: 0 0 $mv*2 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-light; text-align: center;}
	.profile__description {margin: 0 0 $mv*2 0; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-regular; text-align: left;}

	.profile__section-title {margin: 0 0 $mv 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-regular;}
	


	&.profile-about {
		.profile-about__header {
			position: relative; height: 234px; padding: 24px; margin: 0 0 $mv*2 0; color: #FFF; background: url(https://static.detstrana.ru/public/user/ca/77/12/125365_f90a.jpg) center center no-repeat; background-size: cover; box-sizing: border-box;

			&:before {z-index: 0; content: ''; position: absolute; left: 0 ; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5);}
			* {position: relative; z-index: 1; color: #FFF;}

			.profile-about__title {margin: 0 0 $mv*3 0; font-size: $font-size-no; font-weight: $font-regular;}
			.profile-about__text {margin: 0 0 $mv*3 0; font-size: $font-size-no; font-weight: $font-light;}
			.profile-about__goto-site {font-size: $font-size-no; font-weight: $font-light;}
		}

		.profile-about__body {
			position: relative; padding: 16px 16px $mv*2 16px; background: #FFF; box-sizing: border-box;

			.profile-about__userpic {display: inline-block; width: 110px; vertical-align: top;}
			.profile-about__userpic img {width: 64px; height: 64px; margin: 0 16px 0 0;}
			.profile-about__upload {display: inline-block; width: calc(100% - 116px); text-align: center; vertical-align: top;}
			.profile-about__upload-date {color: #95989A; font-size: $font-size-sm; font-weight: $font-light; text-align: center;}
		}

		.profile-about__is-hide-year {color: $color-text-dark; font-size: $font-size-no; font-weight: $font-light;}
		textarea {width: 100%; height: 80px; margin: 0; padding: 12px; color: $color-text-darkest; border: 1px solid #EFF0F0; font-size: $font-size-md; font-weight: $font-regular; box-sizing: border-box;}
		textarea::-webkit-input-placeholder {font-size: $font-size-sm; font-weight: $font-regular;}
	}
	
	&.profile-city {
			position: relative; padding: 16px 16px $mv*2 16px;
			
			.profile-city__city-popup {
				position: absolute; z-index: 10; left: -16px; top: 0; width: calc(100% + 32px); height: auto; max-height: 0px; background: #FAFAFA; overflow: hidden; transition: max-height .25s ease;
				&.active {max-height: 200px;}
				.close {z-index: 10; display: block; position: absolute; top: 0px; right: 0px; width: 72px; height: 72px; background: url(https://static.detstrana.ru/public/user/f1/70/12/124c93_25db.png) center center no-repeat; background-size: 14px 14px; box-sizing: border-box; opacity: .5;}
				.profile-city__city-popup-header {height: 72px; padding: 0 16px; color: $color-text-lightest; background: #FFF; font-size: $font-size-no; font-weight: $font-regular; line-height: 72px;}
				> ul {list-style: none; list-style-type: none; margin: 0px; padding: 16px;}
				> ul > li {display: block; list-style: none; list-style-type: none;}
				> ul > li > a {display: block; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-regular; line-height: 32px; text-decoration: none;}
			}
		
		
			form.profile__form {
				position: relative; margin: 0;
				input.profile__search-city {width: 100%; height: 48px; padding: 16px 0 16px 60px; color: $color-text-darkest;
					background: #FFF url(../img/icons/search.png) 24px center no-repeat; background-size: 18px 18px; border: 1px solid #B0B8BF; border-radius: 2px; outline: none;
					font-size: $font-size-no; font-weight: $font-light; line-height: 16px; box-sizing: border-box;
					&::-webkit-input-placeholder {font-size: $font-size-md; font-weight: $font-regular;}
				}
			}
			
	
			
			.profile-city__city-popular {padding: 20px; text-align: center;}
			.profile-city__city-popular a {margin: 0 10px; color: $color-active; font-size: $font-size-no; font-weight: $font-light; line-height: 30px;}
	}
	
	&.profile-pregnancy {
		position: relative; padding: 16px 16px $mv*2 16px;
		.form-group-radio {margin: 0 0 16px 24px;}
		.form-group-radio label {color: $color-text-dark; font-size: $font-size-no; font-weight: $font-light;}
	}

	&.profile-children {
		position: relative; padding: 16px 16px $mv*2 16px;
		.profile-children__add-child {width: 180px; padding: 12px; margin: 0 auto; background: #FFF;
			color: $color-text-dark; border: 1px solid #EFF0F0; font-size: $font-size-no; font-weight: $font-light; text-align: center; box-sizing: border-box;}

		.form-group-checkbox {width: 100px; margin: 0 auto $mv*2 auto;}
		.form-group-checkbox label {color: $color-text-dark; font-size: $font-size-no; font-weight: $font-light;}
	}

}


.popup.popup-add-child {
	.popup__body {
		padding: 32px 16px 16px 16px;
	}
}