.service {

	form.service__form-search {
		position: relative; margin: 0 8px $mv*2 8px;
		input[type=text] {width: 100%; height: 48px; padding: $mh 0 $mh 60px; color: $color-text-darkest;
			background: #FFF url(https://static.detstrana.ru/public/user/ca/71/12/124d6b_cfcd.png) 24px center no-repeat; background-size: 18px 18px; border: 1px solid #B0B8BF; border-radius: 2px; outline: none;
			font-size: $font-size-no; font-weight: $font-light; line-height: 16px; box-sizing: border-box;
			&::-webkit-input-placeholder {font-size: $font-size-md; font-weight: $font-regular;}
		}
	}

	&.service-names {
		padding: 16px 0;
		ul.service-names__icons {
			list-style: none; list-style-type: none; padding: 0; margin: 0 0 $mv*4 0; font-size: 0; text-align: center;
			> li {
				list-style: none; list-style-type: none; display: inline-block; margin: 0 6px; padding: 0; border: 1px solid #EFF0F0; cursor: pointer; transition: all .25s ease-out; 
				background-color: #FFF; background-position: center 20px; background-repeat: no-repeat; background-size: 70px 70px;
				&.active {box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.25);}
				
				&.service-names__icon-boy {background-image: url(https://static.detstrana.ru/public/user/94/72/12/124e34_cb68.png);}
				&.service-names__icon-girl {background-image: url(https://static.detstrana.ru/public/user/a0/72/12/124e40_3749.png);}
				&.service-names__icon-all {background-image: url(https://static.detstrana.ru/public/user/a0/72/12/124e40_3749.png);}
				&.service-names__icon-boy.active {background-image: url(https://static.detstrana.ru/public/user/9a/72/12/124e3a_6cc5.png);}
				&.service-names__icon-girl.active {background-image: url(https://static.detstrana.ru/public/user/9d/72/12/124e3d_e8fd.png);}
				&.service-names__icon-all.active {background-image: url(https://static.detstrana.ru/public/user/a3/72/12/124e43_7b38.png);}

				> a {position: relative;  display: block; width: 90px; height: 160px; padding: 110px 0 0 0;  color: $color-text-dark; font-size: $font-size-sm; font-weight: $font-regular; text-align: center; text-decoration: none; box-sizing: border-box; transition: all .25s ease-out;}
			}
		}


		.service-names__form-choose {
			margin: 0 $mh $mv*2 $mh;
			label {display: block; margin: 0 0 $mv 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-regular;}
			.grid-2 .cell {width: calc(50% - 10px);}
			.grid-2 .cell:nth-child(even) {margin-left: 20px;}
		}
	}


	&.service-ovulation-calculator {
		.text-menstrual {color: #DD7E97;}
		.text-follicular {color: #248AB8;}
		.text-ovulatory {color: #6B9E01;}
		.text-luteal {color: #CEA423;}
		
		.service-ovulation-calculator__header {
			position: relative; height: 234px; padding: 20px 6px 12px 20px; margin: 0 0 $mv*2 0; color: #FFF; background: url(https://static.detstrana.ru/public/user/c7/77/12/125362_fb24.jpg) center center no-repeat; background-size: cover; box-sizing: border-box;

			&:before {z-index: 0; content: ''; position: absolute; left: 0 ; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5);}
			* {position: relative; z-index: 1; color: #FFF;}

			.service-ovulation-calculator__title {margin: 0 0 $mv*2 0; font-size: $font-size-no; font-weight: $font-regular;}
			.service-ovulation-calculator__text {font-size: $font-size-no; font-weight: $font-light;}

		}
		
		.service-ovulation-calculator__calculation {
			
			.service-ovulation-calculator__calculation-header {
				padding: 12px; background: $color-btn-active; text-align: center;
				.service-ovulation-calculator__calculation-header-current {color: #FFF; margin: 0 0 $mv*2 0; font-size: $font-size-sm; font-weight: $font-regular;}
				.service-ovulation-calculator__calculation-header-period {color: #FFF; font-size: $font-size-no; font-weight: $font-regular;}
			}
			
			.service-ovulation-calculator__calculation-buttons {
				position: relative; height: 75px;
				> a {position: absolute; bottom: 10px; width: 140px; height: 44px; color: $color-active; background: #FFF; border: 1px solid $color-active; border-radius: 22px; font-size: 13px; font-weight: $font-light; text-decoration: none; line-height: 42px; box-sizing: border-box;}
				> a.service-ovulation-calculator__calculation-rewind {left: 10px; padding: 0 10px 0 0; text-align: right;}
					> a.service-ovulation-calculator__calculation-rewind::after {content: ''; @include abs-center-v(); left: 4px; width: 9px; height: 9px; background: $img-arrow-blue center center no-repeat; background-size: contain; transform: scaleX(-1) translateY(-50%);}
				> a.service-ovulation-calculator__calculation-forward {right: 10px; padding: 0 0 0 10px; text-align: left;}
					> a.service-ovulation-calculator__calculation-forward::after {content: ''; @include abs-center-v(); right: 4px; width: 9px; height: 9px; background: $img-arrow-blue center center no-repeat; background-size: contain;}
			}
			
			.service-ovulation-calculator__calculation-calendar {
				.service-ovulation-calculator__calculation-calendar-header {
					background: #EFEFEF; font-size: 0; text-align: center;
					> div {display: inline-block; width: 42px; height: 32px; color: $color-text-darkest; font-size: 11px; font-weight: $font-regular; text-align: center; line-height: 34px;}
				}
				
				.service-ovulation-calculator__calculation-calendar-days {
					width: 301px; margin: 4px auto 10px auto; font-size: 0; text-align: center;
					> div {
						position: relative; display: inline-block; width: 42px; height: 42px; margin: 0 1px 1px 0; color: $color-text-lightest; background: #FFF; font-size: $font-size-md; font-weight: $font-regular; text-align: center; vertical-align: center; line-height: 44px; box-sizing: border-box;
						> b {position: absolute; bottom: 1px; right: 1px; color: $color-text-lightest; font-size: 8px; font-weight: $font-regular; line-height: 8px;}
						> span {display: inline-block; width: 30px; height: 30px; color: #FFF; box-sizing: border-box; border-radius: 100%; line-height: 30px;}
						&.menstrual > span {color: #FFF; background: #db4437; line-height: 30px;}
						&.follicular > span {color: #248AB8; border: 1px solid #40BBE9; line-height: 30px;}
						&.ovulatory > span {color: #6B9E01; background: #BED890; line-height: 30px;}
						&.ovulatory-peak > span {color: #6B9E01; background: #95C663; line-height: 30px;}
						&.luteal > span {color: #CEA423; border: 1px solid #F6BC03; line-height: 30px;}
					}
				}
			}
			
			.service-ovulation-calculator__calculation-best {
				margin: 0 0 2px 0; padding: 20px; background: #FFF; text-align: center;
				.service-ovulation-calculator__calculation-best-title {margin: 0 0 $mv*2 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-regular;}
				.service-ovulation-calculator__calculation-best-date {color: #6B9E01; font-size: $font-size-no; font-weight: $font-regular;}
			}
			
			.service-ovulation-calculator__calculation-legend {
				width: 100%; margin: 0 0 2px 0; padding: 15px 0px; background: #FFF; font-size: 0px;
				> div {position: relative; display: inline-block; width: 50%; padding: 5px 0 5px 30px; font-size: $font-size-no; font-weight: $font-light; box-sizing: border-box;}
				> div::after {content: ''; @include abs-center-v(); left: 5px; width: 20px; height: 20px; border-radius: 100%; box-sizing: border-box;}
				> div.service-ovulation-calculator__calculation-legend-menstrual {color: #DB4437;}
					> div.service-ovulation-calculator__calculation-legend-menstrual::after {background: #DB4437;}
				> div.service-ovulation-calculator__calculation-legend-follicular {color: #248AB8;}
					> div.service-ovulation-calculator__calculation-legend-follicular::after {border: 1px solid #40BBE9;}
				> div.service-ovulation-calculator__calculation-legend-ovulatory {color: #6B9E01;}
					> div.service-ovulation-calculator__calculation-legend-ovulatory::after {background: #6B9E01;}
				> div.service-ovulation-calculator__calculation-legend-luteal {color: #CEA423;}
					> div.service-ovulation-calculator__calculation-legend-luteal::after {border: 1px solid #CEA423;}
			}
		
			.service-ovulation-calculator__calculation-periods {
				margin: 0 0 2px 0; padding: 20px; background: #FFF; text-align: center;
				.service-ovulation-calculator__calculation-periods-title {margin: 0 0 $mv*2 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-regular;}
				.service-ovulation-calculator__calculation-period {color: $color-text-dark; font-size: $font-size-sm; font-weight: $font-regular; line-height: 32px;}
				.service-ovulation-calculator__calculation-period > b {display: inline-block; width: 30px; height: 30px; background: #F6BC03; border-radius: 100%;}
			}
		
		}

		.service-ovulation-calculator__howto-conceive {
			padding: $mv 0; background: #FFF; @include shadow-block-both();
			.service-ovulation-calculator__howto-conceive-boy {padding: $mv $mh $mv 105px; background: url(https://static.detstrana.ru/public/user/b8/77/12/125353_fb52.png) 10px center no-repeat; background-size: 85px 45px;}
			.service-ovulation-calculator__howto-conceive-girl {padding: $mv $mh $mv 105px; background: url(https://static.detstrana.ru/public/user/bb/77/12/125356_afcd.png) 10px center no-repeat; background-size: 85px 45px;}
		}

		.service-ovulation-calculator__facts {
			background: #FFF; padding: $mv*2 0; font-size: 0; text-align: center; @include shadow-block-both();
			> div {display: inline-block; width: 90px; margin: 0 5px 0 10px; padding: 105px 0 0 0; color: $color-text-dark;
				background-position: center 10px; background-repeat: no-repeat; background-size: 90px 90px;
				font-size: $font-size-sm; font-weight: $font-regular; text-align: center; vertical-align: top; box-sizing: border-box;}
			.service-ovulation-calculator__fact-1 {background-image: url(https://static.detstrana.ru/public/user/e8/77/12/125383_a64c.png);}
			.service-ovulation-calculator__fact-2 {background-image: url(https://static.detstrana.ru/public/user/eb/77/12/125386_3734.png);}
			.service-ovulation-calculator__fact-3 {background-image: url(https://static.detstrana.ru/public/user/ee/77/12/125389_e52d.png);}
			.service-ovulation-calculator__fact-4 {color: $color-btn-active-text; background-image: url(https://static.detstrana.ru/public/user/f1/77/12/12538c_e65b.png);}
			.service-ovulation-calculator__fact-5 {color: $color-btn-active-text; background-image: url(https://static.detstrana.ru/public/user/f4/77/12/12538f_e6a4.png);}
		}
		
	}


	&.service-children-goods-rating {
		.children-goods-rating {
			background: #FFF; padding: 0 $mh $mv*2 $mh;
			.children-goods-rating__image img {width: 100%;}
			.children-goods-rating__category {display: block; margin: 0 0 $mv 0; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-light; text-decoration: none;}
			.children-goods-rating__title {display: block; margin: 0 0 $mv*2 0; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-medium; text-decoration: none;}
			.children-goods-rating__rating {
				position: relative; padding: 0 10px 0 32px; margin: 0 0 0 25px; height: 50px; background: #F7F6EE; color: $color-notice; font-size: 34px; font-weight: $font-bold; line-height: 50px; box-sizing: border-box;
				&:before {content: ''; position: absolute; left: -25px; width: 50px; height: 50px; background: $color-notice url(https://static.detstrana.ru/public/user/e8/b5/12/129145_3732.png) center center no-repeat; border-radius: 100%;}

				a {position: absolute; display: block; right: 0; top: 0; width: 150px; padding: 0 0 0 50px; background: #FFF; font-size: $font-size-md; line-height: 50px; text-align: center; text-decoration: none; box-sizing: border-box; overflow: hidden;}
				
				a:before {content: ''; position: absolute; z-index: 1; left: 0; top: 0; width: 30px; height: 50px; background: #F7F6EE;}

				a:after {content: ''; position: absolute; z-index: 2; left: 10px; top: 50%; width: 40px; height: 40px; background: #FFF; transform: translateY(-50%) rotate(45deg); transform-origin: center center;}
				/**/
			}
		}
	}


}