.users {
	.users__list {
		.user {
			position: relative; background: #EEE; border-top: 4px solid #FFF; box-sizing: border-box; overflow: hidden;

			&::before {content: ''; position: absolute; z-index: 10; left: 10px; top: 10px; width: 10px; height: 10px; border-radius: 100%; background: transparent; transition: background .5s ease-out;}
			&::after {display: none; content: ''; position: absolute; z-index: 10; right: 12px; top: 12px; width: 16px; height: 16px; background: url(https://static.detstrana.ru/public/user/0a/6b/12/1246b1_3add.png) center center no-repeat; background-size: auto 12px ; opacty: .5; transform: rotate(-90deg); transition: background .25s ease;}


			
			.user__header {
				position: relative; width: 100%; height: 125px; padding: 30px 20px 20px 120px; background: #EEE; @include shadow-block(); box-sizing: border-box; cursor: pointer; transition: all .25s ease-out;
				.user__avatar {
					position: absolute; left: 30px; top: 30px; width: 65px; height: 65px; background: #999; border-radius: 100%; overflow: hidden;
					> img {display: block; width: 100%; margin: 0px auto; border: none;}
				}
				.user__name {color: #707070; margin: 0 0 $mv 0; font-size: $font-size-md; font-weight: $font-medium; transition: all .5s ease-out;}
				.user__name * {color: #707070; font-weight: $font-medium;}
				.user__about {color: #95989A; font-size: $font-size-sm; font-weight: $font-light;}	
			}

			.user__body {
				height: 0; max-height: 0; background: #FFF; box-sizing: border-box; overflow: hidden; transition: max-height .5s ease-out;

				.user__body-inner {padding: 20px;}

				.user__children {
					margin: 0 0 $mv*2 0;
					.user__child {display: inline-block; width: 50px; height: 75px; padding: 68px 0 0 0; color: $color-text-dark;
						
						font-size: $font-size-sm; font-weight: $font-regular; text-align: center; text-decoration: none; box-sizing: border-box;

						&.user__child--boy {background: url(https://static.detstrana.ru/public/user/9a/72/12/124e3a_6cc5.png) center top no-repeat; background-size: 50px 50px;}
						&.user__child--girl {background: url(https://static.detstrana.ru/public/user/9d/72/12/124e3d_e8fd.png) center top no-repeat; background-size: 50px 50px;}
					}

				}
			}

			&.user-clickable::after {display: block;}

			&.user-active {
				.user__header {
					background: #2D2D2D;
					.user__name, .user__name * {color: #FFF;}
				}
				.user__body {height: auto; max-height: 500px;}
			}

			&.user-online {
				&::before {background: #95C823;}
			}
		}
	}
}