.inner-block {
  padding: 20px 16px;
  &.inner-block--shadow {
    background: $color-white;
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.04);
  }
  &__text {
    font-size: $font-size-md;
    font-weight: $font-regular;
    line-height: 20px;
    p {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  .inner-block__doctor {
    background: url('../img/birthcalendar/expert-print.png') no-repeat bottom right;
    padding-bottom: 100px;
    .inner-block__doctor-image {
      width: 30%;
      display: inline-block;
      margin: 0 -5px;
      vertical-align: top;
      text-align: center;
    }
    .inner-block__doctor-content {
      width: 65%;
      display: inline-block;
      margin: 0 0 0 20px;
      .inner-block__doctor-title {
        margin-bottom: 10px;
        font-weight: $font-medium;
        color: $color-text-light;
      }
      .inner-block__doctor-text {
        font-size: $font-size-sm;
        color: #95989A;
        font-weight: $font-light;
      }
    }
  }
  .inner-block__blockquote {
    margin-left: 51px;
    border-left: 1px solid $color-notice;
    padding-left: 10px;
    position: relative;
    p {
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
    }
    &:before {
      content: '';
      width: 3px;
      height: 30px;
      background: $color-notice;
      position: absolute;
      left: -2px;
    }
    &:after {
      content: '';
      width: 40px;
      height: 40px;
      background: url("../img/icons/qq.png") no-repeat center;
      position: absolute;
      top: -4px;
      left: -50px;
    }
  }
}

.img-responsive {
  max-width: 100%;
}
.inner-list {
  ul {
    padding: 0;
    margin: 40px 0 20px;
    list-style: none;
    li {
      position: relative;
      margin: 0 0 20px 0px;
      padding-left: 30px;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        left: 0;
        top: 5px;
        background: $color-active;
        border-radius: 100%;

      }
    }
  }
}
.simple-list {
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 20px 0;
      a {
        text-decoration: none;
        opacity: 0.87;
      }
    }
  }
}

.entries .entries__list .entry .entry__comment .entry__comment-open {
  &.entry__comment-open--green {
    color: $color-btn-confirm-text;
  }
}



.accordion {
  .accordion__item {
    position: relative;
    margin-bottom: 10px;
    .accordion__title {
      display: block;
      background: $color-white;
      color: $color-text-dark;
      padding: 10px 50px 10px 16px;
      border-bottom: 1px solid $color-border-light;
      border-top: 1px solid $color-border-light;
      font-weight: $font-regular;
      position: relative;
      &:after {
        width: 6px;
        height: 6px;
        border-bottom: 1px solid $color-text-dark;
        border-left: 1px solid $color-text-dark;
        position: absolute;
        right: 20px;
        content: " ";
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(-45deg);
      }
      &.active:after {
        transform: rotate(135deg);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      &-text--sm {
        font-size: 10px;
        font-weight: $font-regular;
        color: $color-text-dark;
      }
    }
    .accordion__content {
      display: none;
    }
  }
}

.diagnostic-table {
  border-collapse: collapse;
   tr:first-child td{
    font-weight: $font-regular;
    color: $color-text-dark;
  }
  tbody tr {
    &:nth-child(2n) {
      background: #f1f2f2;
    }
    td {
      padding: 10px 16px;
    }
  }
  .diagnostic-table__type { color: $color-text-dark; font-size: $font-size-sm; font-weight: $font-regular;}
  .diagnostic-table__time {font-size: $font-size-sm; font-weight: $font-light; font-style: italic;  margin-bottom: 10px;}
  .diagnostic-table__list {font-size: $font-size-sm; font-weight: $font-regular;}

}

.block-checkbox {
  position: relative;
  width: 70px;
  label {
    display: block; padding: 0 0 0 26px; color: #95989A; background: transparent; font-size: $font-size-sm; font-weight: $font-light;
    &::before {content: ''; z-index: 2; position: absolute; left: 0; top: 0; width: 18px; height: 18px; background: #FFF; border: 2px solid #727272; border-radius: 2px; box-sizing: border-box; transition: all .25s ease-out;}
    &::after {content: ''; z-index: 3; position: absolute; left: 3px; top: 3px; width: 12px; height: 8px; border-left: 2px solid #FFF; border-bottom: 2px solid #FFF; box-sizing: border-box; transform: rotate(-45deg); transform-origin: center center; transition: all .25s ease-out;}
  }
  input[type=checkbox]:checked + label::before {background: #7fb323; border: 2px solid #7fb323;}
  &.block-checkbox--center {
    label {
      &::before {right: 0; margin: auto;}
      &::after {right: 0; left: 0; margin: auto; }
      span {position: absolute; left: 0; right: 0; top: 30px; margin: auto; text-align: center; color: $color-text-lightest; font-style: italic;}
    }

  }
}
.service__item--mark {
  position: absolute;
  top: 30px;
  right: 12px;
  padding: 0px 40px;
  color: #FFF;
  background: #F6BC03;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 24px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  &:nth-child(2) {
    top: 65px;
    background: #40BBE9;
  }
}


