/******************************************
***** Forms
******************************************/

form {
  .form-group {
    position: relative; margin: 0 0 $margin-default-v 0;
    &.form-group__date {
      input {
        width: 100%; height: 48px; padding: 0 27px 0 16px; color: $color-text-dark; background: #FFF;
        font-size: $font-size-md; font-weight: $font-light; line-height: 48px;
        border: 1px solid #B0B8BF; border-radius: 2px; box-sizing: border-box;
      }
      .form-group__date--icon{
        position: absolute;
        top: 50%;
        right: 9px;
        width: 9px;
        height: 9px;
        background: url(../img/icons/arrow.png) center center no-repeat;
        background-size: contain;
        opacity: .75;
        transform: translateY(-50%) rotate(90deg);
        transform-origin: center center;
      }


      }


  }
}