/******************************************
***** Modifiers
******************************************/


.mt-20 {margin-top: 20px !important;}
.p-no {padding: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}
.no-bg {background: transparent !important;}
.text-w--regular {font-weight: $font-regular !important;}
.text-sm {font-size: $font-size-sm !important;}
.d-iblock {display: inline-block !important;  }
.w-20 {width: 60px;}
.mb-30 {margin-bottom: 30px !important;}
.mx-8 {margin-left: 8px !important; margin-right: 8px !important;}
.mx-20 {margin-left: 20px; margin-right: 20px;}
