.service {
  .service__subtitle {
    margin: 0 0 $margin-default-v*2 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-light; text-align: center;
    i {margin: 0 4px; color: inherit; font-style: normal; font-size: 8px;}
  }
  .service_count {
    font-style: italic;
    font-weight: $font-regular;
    padding: 0 16px;
    margin-bottom: 20px;
  }
  .service__list {
    z-index: 1;
    position: relative;
    margin: 0 0 10px 0;
    .service__item {
      a {
        text-decoration: none;
      }
      position: relative;
      margin: 0 0 20px 0;
      background: #FFF;
      padding: 20px 0;
      .service__item--image {
        padding: 0px 4px 16px 4px;
      }
      .service__item--image img {
        width: 100%;
        border: none;
      }
      .service__item--category {
        margin: 0 16px 20px 16px;
        color: $color-text-darkest;
        font-size: $font-size-md;
        font-weight: $font-light;
      }
      .service__item--title {
        color: $color-text-dark;
        font-size: $font-size-no;
        font-weight: $font-regular;
        margin: 0 16px 20px 16px;
        position: relative;
        .service__icon {
          position: absolute;
          width: 26px;
          height: 26px;
          right: 0;
          top: -5px;
          &.service__icon--star {
            background: url("../img/icons/star.png") no-repeat center;
          }
        }

      }
      .service__item--content {
        position: relative;
        padding: 0px 16px;
        font-weight: $font-regular;
      }

    }
  }
  .service__subtitle {
    a {
      color: #95989A;
      text-decoration: none;

    }
  }
  .service__text {
    &.service__text-no {
      font-weight: $font-regular;
      line-height: 20px;

    }
  }

  &.service-disease {

    padding: 16px 0;
    ul.service-disease__icons {
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin: $margin-default-v*2 0 $margin-default-v*2 0;
      font-size: 0;
      text-align: center;
      > li {
        list-style: none;
        display: inline-block;
        margin: 0 6px 10px;
        background: $color-white;
        padding: 10px 0 0 0;
        border: 1px solid #EFF0F0;
        cursor: pointer;
        vertical-align: top;
        transition: all .25s ease-out;
        &.active {
          box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
        }
        > a {
          position: relative;
          display: block;
          width: 130px;
          height: 170px;
          padding: 130px 0 0 0;
          color: $color-text-dark;
          background: #FFF;
          font-size: $font-size-sm;
          font-weight: $font-regular;
          text-align: center;
          text-decoration: none;
          box-sizing: border-box;
          transition: all .25s ease-out;
        }

        &.service-disease__icon-pg > a {
          background: url(../img/desiase/pg.png) no-repeat top center;
        }
        &.service-disease__icon-fm > a {
          background: url(../img/desiase/fm.png) no-repeat top center;
        }
        &.service-disease__icon-nch > a {
          background: url(../img/desiase/nch.png) no-repeat top center;
        }
        &.service-disease__icon-ch > a {
          background: url(../img/desiase/ch.png) no-repeat top center;
        }

      }

    }

    table.table td a {
      padding: 0 10px;
      max-width: 270px;
      display: inline-block;
    }
    .service__text {
      font-weight: $font-regular;
      line-height: 20px;
    }
    .articles {
      margin: 0;
    }



  }
}
