/******************************************
***** Very common styles
******************************************/

.icon-group {

  a {
    margin: 0 14px;
  }
}


.bold-title {font-weight: $font-bold;}


