.users {
  .users__subtitle {
    margin: 0 0 $margin-default-v*2 0; color: #95989A; font-size: $font-size-sm; font-weight: $font-light; text-align: center;
    i {margin: 0 4px; color: inherit; font-style: normal; font-size: 8px;}
  }

  .user-info {
    position: relative;

    &::before {content: ''; position: absolute; z-index: 10; left: 10px; top: 10px; width: 10px; height: 10px; border-radius: 100%; background: #95C823; transition: background .5s ease-out;}


    position: relative; padding: 0 0 $margin-default-v 0; background: #EEE; border-top: 4px solid #FFF; box-sizing: border-box; overflow: hidden;
    .user-info__header {
      position: relative; width: 100%; height: 125px; padding: 30px 20px 20px 120px; background: #2D2D2D; @include shadow-block(); box-sizing: border-box; cursor: pointer; transition: all .25s ease-out;
      .user-info__avatar {
        position: absolute; left: 30px; top: 30px; width: 65px; height: 65px; background: #999; border-radius: 100%; overflow: hidden;
        > img {display: block; width: 100%; margin: 0px auto; border: none;}
      }
      .user-info__name {color: #707070; margin: 0 0 $margin-default-v 0; font-size: $font-size-md; font-weight: $font-medium; transition: all .5s ease-out;}
      .user-info__name * {color: #FFF; font-weight: $font-medium;}
      .user-info__about {color: #95989A; font-size: $font-size-sm; font-weight: $font-light;}
    }

    .user-info__body {
      height: auto; background: #FFF; box-sizing: border-box; overflow: hidden; transition: max-height .5s ease-out;

      .user-info__body-inner {padding: 20px;}

      .user-info__children {
        margin: 0 0 $margin-default-v*2 0;
        .user-info__child {display: inline-block; width: 50px; height: 75px; padding: 68px 0 0 0; color: $color-text-dark;

          font-size: $font-size-sm; font-weight: $font-regular; text-align: center; text-decoration: none; box-sizing: border-box;

          &.user-info__child--boy {background: url(https://static.detstrana.ru/public/user/9a/72/12/124e3a_6cc5.png) center top no-repeat; background-size: 50px 50px;}
          &.user-info__child--girl {background: url(https://static.detstrana.ru/public/user/9d/72/12/124e3d_e8fd.png) center top no-repeat; background-size: 50px 50px;}
        }

      }
    }

  }
}