.articles {
	position: relative;
	.articles__list {
		z-index: 1; position: relative; margin: 0 0 0 0;
	}
	.articles-more {margin: $mv 0 $mv*3 0;}
}

.article {
	position: relative; margin: 0 0 $mv 0; background: #FFF;
	.article__mark {position: absolute; top: 12px; right: 12px;  padding: 0px 20px; color: #FFF; background: $color-notice; font-size: $font-size-sm; font-weight: $font-regular; text-transform: uppercase; border-radius: $border-radius-small; line-height: 24px; @include shadow-button();}
	.article__image {
		padding: 4px 4px 16px 4px;
		a, a > img {display:block; width: 100%; border: none; text-decoration: none;}
	}
	.article__content {
		position: relative; padding: 0px 15px 40px 15px;
		.article__category {display: block; margin: 0 0 18px 0; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-light; text-decoration: none;}
		.article__title {display: block; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-medium; text-decoration: none;}
	}
	.article__icons {padding: 0 0 42px 0; text-align: center;}
}

.article-one {
	.article-one__image {}
	.article-one__body {
		background: #FFF; padding: $mv*2 $mh $mv*2 $mh;
		.article-one__author {color: $color-text-light; font-size: $font-size-sm; font-weight: $font-light;}
		.article-one__author-name {color: $color-text-light; font-size: $font-size-md; font-weight: $font-medium;}
		.article-one__date {color: #95989A; font-size: $font-size-sm; font-weight: $font-light;}
	}

}

.articles-subscribe {

	background: #FFF; padding: $mv*2 $mh; @include shadow-block-both();
	.block-subscribe__title {color: $color-text-darkest; font-size: $font-size-h2; font-weight: $font-medium;}
	.block-subscribe__subtitle {color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-regular;}
}

.articles-also-viewed {
	background: #FFF; padding: $mv $mh $mv*2 $mh; @include shadow-block-both();
	a {text-decoration: none;}
}