.communities {
  .communities__list {
    .community {
      position: relative; /*margin: 0 0 $mv 0;*/ background: #FFF; border-top: 4px solid #FFF; box-sizing: border-box; overflow: hidden;
      .community__header {
        position: relative; width: 100%; height: 125px; padding: 30px 20px 20px 120px; background: #EEE; @include shadow-block(); box-sizing: border-box;
        .entry__avatar {
          position: absolute; left: 30px; top: 30px; width: 65px; height: 65px; background: #999; border-radius: 100%; overflow: hidden;
          > img {display: block; width: 100%; margin: 0px auto; border: none;}
        }
        .entry__author {color: $color-text-light; font-size: $font-size-md; font-weight: $font-light;}
        .entry__author * {color: $color-text-light; font-weight: $font-medium;}
        .entry__date {color: $color-text-lightest; font-size: $font-size-sm; font-weight: $font-light; line-height: $font-size-sm*2;}

      }
      .community__title {padding: 20px; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-medium;}

      .community__image {
        .slide > img {width: 100%; border: none;}
        .nav.slider-control {position: absolute; bottom: 0px; padding: 20px 0; background: rgba(66, 66, 66, .5);}
      }

      .community__body {
        padding: 20px;
        .community__text {color: $color-text-dark; font-size: $font-size-md; font-weight: $font-regular; text-align: left;}
        .community__icons {padding: 20px 0px; text-align: center;  margin: 0 -10px;
          .community__icons-item{display: inline-block;
            button {display: block; margin: 20px auto 0;}
          }
        }
        .community__notes {list-style: none; padding: 0; margin: 0;
          li {padding: 20px 40px 0 0; position: relative;}
          li > a {color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-regular; text-decoration: none;
            span {position: absolute; right: -20px; width: 35px; top: 23px; color: $color-text-light; font-size: $font-size-md; font-weight: $font-light; display: block; padding-left: 19px; background: url('../img/icons/message.png')no-repeat left center;}
          }
        }
      }



    }

  }
  .community-one {
    .community__image {}
    .community__body {
      background: #FFF; padding: $mv*2 $mh $mv*2 $mh;
    }
    .community__buttons {padding: 20px 0px; text-align: center;  margin: 0px -10px;
    button:first-child {margin-right: $mh;}
    }

  }
}

.block-subscribe-inner {
  .block-subscribe-inner__title {color: $color-text-darkest; font-size: $font-size-h2; font-weight: $font-medium;}
  .block-subscribe-inner__subtitle {color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-regular;}
}
.community-rule {padding: 0 16px;}
.number-list {
  ol {
    list-style: none; padding: 0 0 20px; margin: 0 ; counter-reset: li;
    > li:before {
      counter-increment: li;
      content: counters(li,'.') ". ";}
  }

  ul {list-style: none; padding: 0;}
}


