.entries {
	.entries__list {
		.entry {
			position: relative; /*margin: 0 0 $mv 0;*/ background: #FFF; border-top: 4px solid #FFF; box-sizing: border-box; overflow: hidden;
			.entry__header {
				position: relative; width: 100%; height: 125px; padding: 30px 20px 20px 120px; background: #EEE; @include shadow-block(); box-sizing: border-box;
				.entry__avatar {
					position: absolute; left: 30px; top: 30px; width: 65px; height: 65px; background: #999; border-radius: 100%; overflow: hidden;
					> img {display: block; width: 100%; margin: 0px auto; border: none;}
				}
				.entry__author {color: $color-text-light; font-size: $font-size-md; font-weight: $font-light;}
				.entry__author * {color: $color-text-light; font-weight: $font-medium;}
				.entry__date {color: $color-text-lightest; font-size: $font-size-sm; font-weight: $font-light; line-height: $font-size-sm*2;}
				
			}
			.entry__title {padding: 20px; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-medium;}
			
			.entry__images {
				.slide > img {width: 100%; border: none;}
				.nav.slider-control {position: absolute; bottom: 0px; padding: 20px 0; background: rgba(66, 66, 66, .5);}
			}
			
			.entry__body {
				padding: 20px;
				.entry__text {color: $color-text-dark; font-size: $font-size-md; font-weight: $font-regular; text-align: left;}
				.entry__readmore {color: $color-active; font-size: $font-size-md; font-weight: $font-light; text-decoration: none;}
				.entry__icons {padding: 20px 0px; text-align: center;}
			}

			.entry__comment	{			
				.entry__comment-open {color: $color-btn-lightest-text;}
				.entry__comment-open:active {color: $color-btn-active-text;}
				.entry__comment-open {z-index: 1; width: 100%; background: rgba(235, 235, 235, 0);}
				.entry__comment-close {z-index: 0; position: absolute; right: 0; top: 0; width: 54px; opacity: 0;}
				.entry__comment-form {
					height: auto; max-height: 0px; overflow: hidden; box-sizing: border-box; transition: max-height 1s ease-out;
					textarea {display: block; width: 100%; padding: 12px; margin: 0 0 $mv 0; color: $color-text-darkest;
						font-size: $font-size-md; font-weight: $font-regular; border: 1px solid #EFF0F0; outline: none; box-shadow: none !important; -webkit-appearance: none; box-sizing: border-box;}
					button {margin-bottom: 4px;}
				}

				&.active {
					.entry__comment-open {z-index: 1; width: 75%; background: rgba(235, 235, 235, 1);}
					.entry__comment-close {opacity: 1;}
					.entry__comment-form {max-height: 250px;}
				}
			}
			
			.entry__morecomments {background: #fff; color: $color-active; border-bottom: 1px solid #F1F1F1; font-size: $font-size-md; font-weight: $font-light; text-align: center; text-decoration: underline; line-height: 80px;}
		}
	}

	.entries__morecomments {padding: 10px 0px; margin: 2px 0px; background: #FFF; border-top: 2px solid $color-main-bg; border-bottom: 2px solid $color-main-bg;}
}

.comments {
	.comments__list {
		.comment {
			position: relative; padding: 20px; /*margin: 0 0 $mv 0;*/ background: #FFF; border-top: 4px solid #FFF; box-sizing: border-box; overflow: hidden;
			.comment__header {
				position: relative; margin: 0 0 $mv*2 0;
				.comment__author {padding: 0 48px 0 0; color: $color-text-dark; font-size: $font-size-no; font-weight: $font-light;}
				.comment__author a {text-decoration: none;}
				.comment__date {color: $color-text-lightest; font-size: $font-size-sm; font-weight: $font-light; line-height: $font-size-sm*2;}
				.comment__icons {position: absolute; right: 10px; top: 0px;}
			}

			.comment__body {
				.comment__inner {padding: 24px 10px; margin: 0 0 $mv*2 0; background: #EEEEEE; border-radius: 0px 30px 30px 30px;}
				.comment__text {margin: 0 10px $mv 10px; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-regular;}
				.slider-wrapper {margin: 0 0 $mv 0;}
				.slider-wrapper .slide img:nth-child(odd) {margin-right: 20px;}
			}

			.comment__comment	{
				.comment__comment-like {text-transform: none; overflow: visible;}
				.comment__comment-like::after {content: ''; @include abs-center-v(); right: -40px; width: 6px; height: 6px; background: #000; border-radius: 100%;}
				.comment__comment-open {padding: 0 20px; margin: 0 0 0 46px; background: rgba(235, 235, 235, 0); text-transform: none;}
				.comment__comment-close {z-index: 0; position: absolute; right: 0; top: 0; width: 54px; opacity: 0;}
				.comment__comment-form {
					height: auto; max-height: 0px; overflow: hidden; box-sizing: border-box; transition: max-height 1s ease-out;
					textarea {display: block; width: 100%; padding: 12px; margin: 0 0 20px 0; color: $color-text-darkest; border: 1px solid #EFF0F0; outline: none;
						font-size: $font-size-md; font-weight: $font-regular; box-shadow: none !important; -webkit-appearance: none; box-sizing: border-box;}
					button {margin-bottom: 4px;}
				}

				&.active {
					.comment__comment-open {background: rgba(235, 235, 235, 1);}
					.comment__comment-close {opacity: 1;}
					.comment__comment-form {max-height: 250px;}
				}
			}

			.comment__links {
				a {color: $color-btn-active-text; margin: 0 20px 0 0; font-size: $font-size-md; font-weight: $font-medium; text-decoration: none;}
				.comment__splitter {margin: 0 40px; font-size: 32px; line-height: 10px;}
			}
		}
	}
}
