.filter-abc {
	display: block; margin: 0; padding: 0; list-style: none; list-style-type: none; font-size: 0px; text-align: center;
	> li {display: inline-block; margin: 0 -1px; padding: 0; list-style: none; list-style-type: none; }
	> li > a {display: block; width: 24px; height: 24px; font-size: $font-size-md; font-Weight: $font-medium; line-height: 26px; text-align: center; text-decoration: none; border-radius: 100%; transition: background .5s ease-out;}
	> li.active > a {color: #FFF; background: $color-btn-active;}
}