.pregnancy-calendar {

	.pregnancy-calendar__header {
		position: relative; z-index: 2; height: 112px; padding: 24px 0 0 116px; color: #fff; background: $color-btn-active;  font-size: $font-size-no; font-weight: $font-light; box-sizing: border-box; @include shadow-block();
		&::after {content: ''; @include abs-center-v(); left: 24px; width: 54px; height: 54px; background: #00a9d3 url(https://static.detstrana.ru/public/user/01/6b/12/1246a8_7441.png) center center no-repeat; background-size: 20px auto; border-radius: 100%;}
	}

	.pregnancy-calendar__body {
		position: relative; z-index: 1; padding: 20px 0 40px 0; background: #FFF; @include shadow-block();

		.pregnancy-calendar__slider {
			position: relative; /*width: 240px;*/ margin: 0 auto;

			.pregnancy-calendar__forward, .pregnancy-calendar__rewind {
				z-index: 5; position: absolute; left: 50%; top: 0px; width: 40px; height: 40px;
				background: #FFF $img-arrow center center no-repeat; background-size: 8px 12px; border-radius: 100%; text-decoration: none; opacity: .75;
			}
			.pregnancy-calendar__forward {transform: translateX(100px);}
			.pregnancy-calendar__rewind {transform: translateX(-140px) scaleX(-1);}

			.pregnancy-calendar__title {margin: 0 0 13px 0; color: #274861; font-size: $font-size-h1; font-weight: $font-light; text-align: center;}
			
			ul.pregnancy-calendar__months {
				margin: 0 auto $mv*3 auto; padding: 0; list-style: none; list-style-type: none; font-size: 0; text-align: center; white-space: normal;
				> li {display: inline-block; padding: 0; margin: 0 5px; }
				> li > a {color: $color-text-lightest; background: transparent; font-size: $font-size-h2; font-weight: $font-light; text-decoration: none;}
				> li.active > a {color: $color-btn-active-text;}
			}

			.pregnancy-calendar__week-title {color: #274861; margin: 0 0 $mv 0; font-size: $font-size-h2; font-weight: $font-light; text-align: center;}


			

			.pregnancy-calendar__weeks {
				width: 240px; margin: 0 auto $mv*3 auto; padding: 0; list-style: none; list-style-type: none; font-size: 0; white-space: normal;
				> li {display: inline-block; padding: 0; margin: 3px 4px; list-style: none; list-style-type: none;}
				> li > a {
					display: block; width: 40px; height: 40px;  color: $color-text-dark; border-radius: 100%;  text-align: center; line-height: 40px;
					font-size: 18px; font-weight: $font-regular; text-decoration: none;
				}
				> li.active > a {color: #FFF; background: $color-btn-active;}
			}
		}

	}	
}