.questions {
	position: relative;

	.questions__list {
		.question {
			position: relative; margin: 0 0 $mv 0; background: #FFF; border-top: 4px solid #FFF; overflow: hidden;
			.question__header {
				position: relative; height: 112px; padding: 30px 20px 20px 116px; background: #EEE; @include shadow-block(); box-sizing: border-box;
				.question__avatar {
					position: absolute; left: 30px; top: 30px; width: 65px; height: 65px; background: #999; border-radius: 100%; overflow: hidden;
					> img {display: block; width: 100%; margin: 0px auto; border: none;}
				}
				.question__author {color: $color-text-light; font-size: $font-size-md; font-weight: $font-light;}
				.question__author * {color: $color-text-light; font-weight: $font-medium;}
				.question__date {color: $color-text-lightest; font-size: $font-size-sm; font-weight: $font-light; line-height: $font-size-sm*2;}
				
			}
			.question__body {
				padding: $mv*2 $mh;
				.question__category {margin: 0 0 $mv*2 0; color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-light;}
				.question__title {margin:  0 0 $mv*2 0; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-medium;}
				.question__text {margin:  0 0 $mv*2 0; color: $color-text-dark; font-size: $font-size-md; font-weight: $font-regular; line-height: $font-size-md*1.5;}
			}
			
			
		}
	}
}