.text-editor {
  .text-editor__toolbar {
    button {background: transparent; border: none; margin: 0 5px;
    * {color: $color-text-lightest;}
      &:hover * {color: $color-text-light}
    }
  }
  .text-editor__editable {
    background: #fff;
    padding: 10px;
    min-height: 80px;
    margin-bottom: 10px;
    span {
      color: $color-text-lightest;
    }
  }
  .form-group-limit {
    .form-limit {color: #DB4437;}
  }
  .form-limit {color: #999; display: block;
    font-size: 12px;
    font-weight: 400;
    text-align: right;}

  .text-editor-slider {
    position: relative; padding: 0;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      > li {
        display: inline-block;
      }
    }
    .slider-rewind, .slider-forward {position: absolute; top: 0px; width: 16px; height: 100%; background: url('../img/icons/arrow.png') center center no-repeat; background-size: 8px auto; transform-origin: center center; box-sizing: border-box;}
    .slider-rewind {left: 0px; transform: scaleX(-1);}
    .slider-forward {right: 0px;}
  }
}
.new-record-form .btn.btn-popup {width: 100%; margin: 0;}