/******************************************
***** Fonts	
******************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext');

@import 'inc/_variables.scss';
@import 'inc/_mixins.scss';
@import 'inc/nav.scss';
@import 'inc/elements.scss';
@import 'inc/badges.scss';
@import 'inc/sliders.scss';
@import 'inc/buttons.scss';
@import 'inc/popups.scss';
@import 'inc/grids.scss';
@import 'inc/tables.scss';
@import 'inc/forms.scss';
@import 'inc/icons.scss';
@import 'inc/popups.scss';
@import 'inc/_modifiers.scss';
@import "main_chunks/modifiers.scss";
@import "main_chunks/verycommon.scss";
@import "main_chunks/forms.scss";
@import "main_chunks/common.scss";


@media
screen and (orientation: portrait) and (max-width: 480px),
screen and (orientation: landscape) and (max-width: 750px)
{

/******************************************
***** Common 	
******************************************/

	html, body {width: 100%; height: 100%; margin: 0px; padding: 0px; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%;}
	body {background: $color-main-bg; font-size: $font-size-md; font-weight: $font-regular;}
	* {color: $color-text-darkest; font-family: Roboto;}
	::-webkit-input-placeholder {color: #95989A; font-size: $font-size-no; font-weight: $font-light;}

	
	.overlay {position: absolute; z-index: 1000; display: none; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .75);}
	body.lock-screen {height: 100%; overflow: hidden; width: 100%; position: fixed;}
	body.overlayed .overlay {display: block;}


	h1, div.h1 {color: $color-text-dark; font-size: $font-size-h1; font-weight: $font-regular; text-align: center;}
	h2, div.h2 {color: $color-text-dark; font-size: $font-size-h2; font-weight: $font-medium; text-align: center;}
	h3 {color: $color-text-dark; font-size: $font-size-h3; font-weight: $font-regular; text-align: center;}
	h4, h5, h6 {color: $color-text-dark; font-size: $font-size-h4; font-weight: $font-medium; text-align: center;}
	a {color: $color-active; text-decoration: underline;}
	img {border: none; outline: none;}
	input, select, textarea {-webkit-appearance: none;}

	.landscape-only {display: none;}
	.portrait-only {display: block;}

	.wrapper {position: relative; width: 100%; height: 100%; min-width: 320px; max-width: 480px; margin: 0px auto; padding: 66px 0 0 0; }
	.title {color: $color-text-dark; font-size: 20px; font-weight: $font-medium; text-align: center;}
	.transparent {opacity: 0;}
	.underline {text-decoration: underline;}
	.hidden {display: none;}
	.block-shaded {@include shadow-block();}

	.page-breadcrumbs {
		list-style: none; list-style-type: none; padding: 0; margin: 0 0 $mv*2 0; text-align: center; font-size: 0;
		> li {position: relative; display: inline-block; margin: 0 17px 0 0; padding: 0;}
		> li, > li > * { color: #95989A; font-size: $font-size-sm; font-weight: $font-light; text-decoration: none;}
		> li::after {content: ''; @include abs-center-v; right: -12px; width: 7px; height: 7px; background: $img-arrow center center no-repeat; background-size: contain; opacity: .75;}
		> li:last-child {margin: 0;}
		> li:last-child::after {display: none;}
		> li.back:last-child::after {display: block; right: auto; left: -12px; transform: translateY(-50%) scaleX(-1);}
	}

	.block-social {
		text-align: center;
		a {margin: 0 12px; vertical-align: middle;}
	}

	ul.rating {
		list-style: none; list-style-type: none; padding: 0; fotn-size: 0;
		> li {display: inline-block; list-style: none; list-style-type: none; padding: 0; margin: 0 10px;}
		> li > a {display: block; width: 28px; height: 28px; background: url(https://static.detstrana.ru/public/user/b2/9c/12/127828_02bf.png) center center no-repeat; text-decoration: none;}
		> li.active a {background-image: url(https://static.detstrana.ru/public/user/af/9c/12/127825_5f0c.png);}
	}

	form.form-search {
		margin: 0 10px $mv 10px;
		input[type=text] {width: 100%; height: 48px; padding: 16px 0 16px 60px; color: $color-text-darkest;
			background: #FFF url(https://static.detstrana.ru/public/user/ca/71/12/124d6b_cfcd.png) 24px center no-repeat; background-size: 18px 18px; border: none; outline: none;
			font-size: $font-size-no; font-weight: $font-light; line-height: 16px; box-sizing: border-box;
			&::-webkit-input-placeholder {font-size: $font-size-md; font-weight: $font-regular;}
		}
	}

	header {
		z-index: 100; position: fixed; width: 100%; height: $header-height; margin: -66px 0 0 0; background: #FFF;
		a {text-decoration: none;}
		.header__inner {position: relative; min-width: 320px; height: $header-height;}
		.header__profile {
			position: absolute; left: 0px; width: $header-height; height: $header-height; background: url(https://static.detstrana.ru/public/user/dc/76/12/125278_69cd.png) center center no-repeat; background-size: 36px 36px;
			img {width: $header-height - $mv*2; height: $header-height - $mv*2; margin: $mv $mh; border: none; outline: none;}
		}
		.header__logo {@include abs-center(); width: 57px; height: 36px; background-image: url(https://static.detstrana.ru/public/user/04/6b/12/1246ab_b44a.png); @include bg(); }
		.header__menu {position: absolute; top: 0px; right: 0px; width: $header-height; height: $header-height; background: url(https://static.detstrana.ru/public/user/d6/6d/12/12497b_ccab.png) center center no-repeat; background-size: 18px 12px;}
	}

	footer {
		position: relative;
		ul.footer-links {
			padding: 12px; margin: 0; list-style: none; list-style-type: none; background: #EEE; text-align: center;
			> li {display: inline-block; margin: 8px 4px;}
			> li a {color: #888; font-size: $font-size-md; font-weight: $font-regular; text-decoration: none; line-height: $font-size-md*2;}
		}
		.footer-copy {color: #95989A; background: #FFF; font-size: $font-size-sm; font-weight: $font-light; text-align: center; line-height: 48px;}
	}



	@import 'block/pregnancy-calendar.scss';
	@import 'block/filter-abc.scss';
	@import 'block/entries.scss';
	@import 'block/articles.scss';
	@import 'block/questions.scss';
	@import "block/communities";
	@import "block/text-editor";

	@import 'page/index.scss';
	@import 'page/profile.scss';
	@import 'page/service.scss';
	@import 'page/users.scss';
	@import 'page/contests.scss';
	@import 'page/gender.scss';
	@import 'page/birthcalendar.scss';
	@import 'page/single-name.scss';
	@import "main_chunks/service.scss";
	@import "main_chunks/users.scss";


}


@media screen and (orientation: landscape) and (max-width: 750px)
{
	.landscape-only {display: block;}
	.portrait-only {display: none;}
}