/******************************************
***** Mixins	
******************************************/

@mixin abs-center-v() {position: absolute; top: 50%; transform: translateY(-50%);}
@mixin abs-center-h() {position: absolute; left: 50%; transform: translateX(-50%);}
@mixin abs-center() {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
@mixin bg {background-repeat: no-repeat; background-position: center center; background-size: cover;}
/*@mixin clearfix {content: '.'; display: block; height: 0; clear: both; visibility: hidden;}*/
@mixin shadow-block {box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25)}
@mixin shadow-button {box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);}
@mixin shadow-block-both {box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.1);}
@mixin  shadow-light {box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25)}

@mixin padding($v: 2, $h: 1) {padding: $mv*$v $mh*$h;}