/******************************************
***** Modifiers
******************************************/

.rel {position: relative;}
.abs {position: absolute;}


.w-93 {width: 280px;}
.w-83 {width: 250px;}
.w-70 {width: 210px;}
.w-66 {width: 200px;}
.w-63 {width: 190px;}
.w-60 {width: 180px;}
.w-46 {width: 140px;}
.w-23 {width: 70px;}

.w-100 {width: 100% !important;}
.w-67 {width: 67%;}
.w-50 {width: 50% !important;}
.w-33 {width: 33%;}
.w-0 {width: 0px; padding-left: 0px; padding-right: 0px;}

.mb-10 {margin-bottom: $mv !important;}
.mb-20 {margin-bottom: $mv*2 !important;}
.mb-40 {margin-bottom: $mv*4 !important;}

.mt-10 {margin-top: $mv !important;}
.mt-20 {margin-top: $mv*2 !important;}
.mt-40 {margin-top: $mv*4 !important;}

.pb-10 {padding-bottom: $mv !important;}
.pb-20 {padding-bottom: $mv*2 !important;}
.pb-40 {padding-bottom: $mv*4 !important;}

.pt-0  {padding-top: 0 !important;}
.pt-10 {padding-top: $mv !important;}
.pt-20 {padding-top: $mv*2 !important;}
.pt-40 {padding-top: $mv*4 !important;}


.mlr-16, .block-padded {margin-left: $mh !important; margin-right: $mh !important;}
.block-wide {margin-left: -$mh !important; margin-right: -$mh !important;}

.block-center {display: block; margin-left: auto; margin-right: auto;}

.text-dark {color: $color-text-darkest;}
.text-medium {color: $color-text-dark;}
.text-light {color: $color-text-lightest;}
.text-active {color: $color-btn-active-text;}
.text-confirm {color: $color-btn-confirm-text;}
.text-grey {color: #95989A;}

.text-left, tr.text-left td {text-align: left;}
.text-right, tr.text-right td {text-align: right;}
.text-center, tr.text-center td {text-align: center !important;}

.pull-right {float: right;}

.hidden {display: none;}
.nowrap {white-space: nowrap;}
.empty {display:block; width: 0px; height: 0px; overflow: hidden; content: '.';}
.block {display: block;}
.il-block {display: inline-block;}

.caption-small {color: #95989A; font-size: font-size-sm; font-weight: $font-regular;}