/******************************************
***** Variables	
******************************************/
$color-white: #FFF;
$color-main-bg: #F7F7F7;
$color-bg-beidge: #F7F6EE;

$color-text-darkest: #000;
$color-text-dark: #092236;
$color-text-light: #707070;
$color-text-lightest: #AAA; 

$color-text-carrot: #F57364;
$color-text-azure: #00D5D2;
$color-text-grass: #3F7C00;
$color-text-gold: #CEA423;

$color-active: #248AB8;
$color-notice: #F6BC03;
$color-forbidden: #B92D00;
$color-error: #B92D00;
$color-limit: #DB4437;
$color-confirm: #95C663;

		/*$color-tab: #40BBE9;  */


$color-form-bg: #EEE;
$color-icon-bg: #F7F7EF;

$color-border-darkest: #707070;
$color-border-dark: #818E98;
$color-border-light: #EFF0F0;

$color-hint-dark: #717171; 
$color-hint-light: #999; 

$color-btn-active-text: #248AB8;
$color-btn-active: #40BBE9;
$color-btn-confirm-text: #6B9E01;
$color-btn-confirm: #7FB323;
$color-btn-darkest-text: #6E6E6E;
$color-btn-dark-text: #6E6E6E;
$color-btn-light-text: #929292;
$color-btn-lightest-text: #B3B3B3;
$color-gender-boy: #51d4d1;
$color-gender-girl: #ff93a5;

$color-boy: #00D5D2;
$color-girl: #FF94A7;

$font-tiny: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-h4: 14px;

$font-size-no: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 8px;

$border-radius-small: 3px;

$mv: 10px;
$mh: 16px;

$header-height: 56px;

$img-arrow: url(https://static.detstrana.ru/public/user/07/6b/12/1246ae_d41b.png);
/*$img-arrow-white: ;*/
$img-arrow-blue: url(https://static.detstrana.ru/public/user/bb/8a/12/126643_3da8.png);

$margin-default: 10px;
$margin-default-v: 10px;
$margin-default-h: 16px;