/******************************************
***** Bagdes	
******************************************/

.badge {
	position:relative; display: inline-block; padding: 6px 10px; margin: 0 0 0 6px; border-radius: $border-radius-small; font-size: $font-size-sm; font-weight: $font-regular; text-align: center; vertical-align: middle; line-height: 100%;
	&.badge-notice {color: #fff; background: $color-notice;}
	&::after {content: ''; position: absolute; left: -6px; top: 50%; width: 8px; height: 8px; background: inherit; transform: rotate(45deg) translateY(-60%); transform-origin: center center;}
}