/******************************************
***** Buttons and button groups	
******************************************/

.btn {
	position: relative; display: inline-block; height: 36px; margin: 0; padding: 0; color: $color-text-lightest; background: none;
	border: none; border-radius: $border-radius-small; outline: none;
	font-size: $font-size-md; font-weight: $font-medium; text-align: center; text-transform: uppercase; text-decoration: none; line-height: 38px;
	vertical-align: middle; box-sizing: border-box; overflow: hidden; transition: all .5s ease;

	.btn-large {height: 48px; line-height: 50px;}

	&.btn-padded {padding: 0 20px;}

	&.btn-shaded {@include shadow-button();}

	&.btn-pressed-flat {background: #EBEBEB;}
	
	&.btn-white {color: $color-text-dark; background: #fff;}
	&.btn-transparent {color: $color-text-dark; background: transparent; border: 1px solid $color-border-dark;}
	
	&.btn-confirm {color: #fff; background: $color-btn-confirm;}
	&.btn-confirm-flat {color: $color-btn-confirm-text;}
	/*&.btn-confirm-flat.active {background: red;}*/

	&.btn-active {color: #fff; background: $color-btn-active;}
	&.btn-active-flat {color: $color-btn-active-text; background: transparent;}
	/*&.btn-active-flat:active, &.btn-active-flat.pressed {background: red !important;}*/

	&.btn-boy {color: #fff; background: $color-boy;}
	&.btn-girl {color: #fff; background: $color-girl;}

	&.btn-error {color: #fff; background: $color-limit;}
	&.btn-error-flat {color: $color-error; background: transparent;}

	&.btn-arrow {padding-right: 30px;}
	&.btn-arrow::after {content: ''; @include abs-center-v(); right: 0px; width: 12px; height: 12px; margin-top: -7px; background: url(	https://static.detstrana.ru/public/user/07/6b/12/1246ae_d41b.png) center center no-repeat; background-size: contain; opacity: .75; transform: rotate(90deg); transform-origin: center center; }

	&.btn-border-dark {margin:-1px 0 0 -1px; border: 1px solid $color-border-dark;}
	&.btn-border-light {margin:-1px 0 0 -1px; border: 1px solid $color-border-light;}

	&.btn-rounded {border-radius: 21px;}

	&.btn-plus {background: url(https://static.detstrana.ru/public/user/ee/70/12/124c90_91c8.png) center center no-repeat; background-size: 23px 23px; width: 80px; border-color: transparent; overflow: hidden;}

	&.btn-circle {width: 36px; border-radius: 100%;}
	&.btn-circle.btn-large {width: 56px; height: 56px; font-size: $font-size-h1; font-weight: $font-light;}
	&.btn-circle.btn-shaded {box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);}

	&.btn-popup {display: block; width: calc(100% - 20px); height: 48px; padding: 0 0 0 20px; margin: 0 10px; color: $color-text-dark; font-size: $font-size-md; font-weight: $font-regular; text-align: left; text-transform: none; line-height: 50px;}
	&.btn-popup::after {content: ''; @include abs-center-v(); right: 20px; width: 9px; height: 9px; margin-top: -4px; background: $img-arrow center center no-repeat; background-size: contain; opacity: .75; transform: rotate(90deg); transform-origin: center center; }

	&.btn-close {background: url(https://static.detstrana.ru/public/user/f1/70/12/124c93_25db.png) center center no-repeat; background-size: 14px 14px;}
	&.btn-close-thin {background: url(https://static.detstrana.ru/public/user/f4/70/12/124c96_ce9e.png) center center no-repeat; background-size: 14px 14px;}

	&.btn-center {display: block; margin: 0 auto !important;}
}

.btn-group {
	font-size: 0; white-space: nowrap;
	&.btn-group-shaded {@include shadow-block()};

	&.btn-group-large .btn {height: 48px; line-height: 46px;}

	.btn {
		border: none; border-radius: 0px !important;
		/*&.btn-active:after {content: ''; position: absolute; left: 50%; bottom: 0px; width: 12px; height: 12px; background: inherit; transform: rotate(-45deg) translateX(-50%);}*/
	}

	&.btn-group-border-dark .btn {border-top: 1px solid $color-border-dark; border-bottom: 1px solid $color-border-dark;}
	&.btn-group-border-light .btn {border-top: 1px solid $color-border-light; border-bottom: 1px solid $color-border-light;}

	&.btn-group .btn.btn-active {border-top: 1px solid $color-btn-active; border-bottom: 1px solid $color-btn-active;}
	&.btn-group .btn.btn-confirm {border-top: 1px solid $color-btn-confirm; border-bottom: 1px solid $color-btn-confirm;}


}

/*.btn-group-check {
	.btn {
		color: $color-active; margin-right: 10px; margin-bottom: 10px; border: 1px solid $color-active; line-height: 34px;
		&.btn-active {color: #fff; background: $color-active;}
		&.btn-wide {width: 140px;}
		&.btn-narrow {width: 70px;}
		&.btn-active:after {display: none;}
	}
}*/