
.text-att {
	@extend .block-wide;
	position: relative; padding: $mv*2 $mh $mv*2 66px; background: #FFF; @include shadow-block-both();
	&:before {position: absolute; left: 8px; top: $mv*2; width: 60px; height: 30px; padding: 5px 10px; color: $color-notice; border-right: 3px solid $color-notice; font-size: 80px; text-align: center; line-height: 0.7em; box-sizing: border-box;}

	&.text-att-quote::before {content: '\275E';}
	&.text-att-exlamation::before {content: '\2762'; font-size: 48px;}
	&.text-att-question::before {content: '?';}

	> div {padding-left: 10px; border-left: 1px solid $color-notice;}
}

ol.numbered {
	position: relative; margin: 0; padding: 0 $mh 0 52px; list-style: none; list-style-type: none; counter-reset: ol1;
	> li {position: relative; display: block; list-style: none; list-style-type: none; min-height: 32px; margin: 0 0 10px 0; padding: 0 0 0 0; text-indent: 0; box-sizing: border-box;}
	> li:before {counter-increment: ol1; content: counter(ol1); position: absolute; left: -42px; top: -7px; width: 32px; height: 32px; color: #FFF; background: $color-btn-active; border-radius: 100%; font-size: $font-size-md; font-weight: $font-medium; line-height: 32px; text-align: center;}

	ol.numbered {padding-top: $mv*3; margin-left: -32px; counter-reset: ol2;}
	ol.numbered > li:before {counter-increment: ol2; content: counter(ol1) "." counter(ol2);}

	ol.numbered ol.numbered {counter-reset: ol3;}
	ol.numbered ol.numbered > li:before {counter-increment: ol3; content: counter(ol1) "." counter(ol2) "." counter(ol3);}
}

ul.bulleted {
	position: relative; margin: 0; padding: 0 $mh 0 52px; list-style: none; list-style-type: none;
	> li {position: relative; display: block; list-style: none; list-style-type: none; min-height: 32px; margin: 0 0 10px 0; padding: 0 0 0 0; text-indent: 0; box-sizing: border-box;}
	> li:before {content: ''; position: absolute; left: -30px; top: 4px; width: 8px; height: 8px; background: $color-btn-active; border-radius: 100%;}
	ul.bulleted {padding-top: $mv*3; margin-left: -32px;}
	ul.bulleted > li:before {border-radius: 0; left: -28px;}
}