/******************************************
***** Forms	
******************************************/

form {
	.form-group {
		position: relative; margin: 0 0 $mv 0;

		label.form-label {
			position: relative; display: block; margin: 0 0 4px 0; color: $color-hint-dark; font-size: $font-size-sm; font-weight: $font-regular;
			transform: translate3d(0, 0, 0); opacity: 1; transition: all .15s ease-out;
			&.form-label-hidden {transform: translate3d(0, 3px, 0); opacity: 0;}
		}


		.form-control {
			width: 100%; margin: 0 0 6px 0; padding: 4px 0px 8px 0px; color: $color-text-darkest; background: transparent; border: none; border-bottom: 1px solid $color-border-light; border-radius: 0px; outline: none;
			font-size: $font-size-no; font-weight: $font-regular; line-height: $font-size-no; box-sizing: border-box; overflow: hidden; transition: all .25s ease-out;
			&:focus {margin: 0 0 5px 0; border-bottom: 2px solid $color-btn-confirm-text; caret-color: $color-btn-confirm-text;}
			&::-webkit-input-placeholder {color: $color-hint-light; font-size: $font-size-no; font-weight: $font-regular;}
		}


		.form-select-wrapper {
			position: relative;
			&::after {content: ''; position: absolute; z-index: 10; top: 50%; right: 9px; width: 9px; height: 9px; background: $img-arrow center center no-repeat; background-size: contain; opacity: .75; transform: translateY(-50%) rotate(90deg); transform-origin: center center;}
		}

		select.form-select, a.form-select {position: relative; z-index: 1; display: block; width: 100%; height: 48px; padding: 0 27px 0 16px;
			color: $color-text-dark; background: #FFF; font-size: $font-size-md; font-weight: $font-light; text-decoration: none; line-height: 48px;
			border: 1px solid #B0B8BF; border-radius: 2px; box-sizing: border-box; outline: none; -webkit-appearance: none;
			&.form-select-center {text-align: center; text-align-last: center;}
		}

		/*select.form-select + .form-selected {position: absolute; z-index: 0; left: 0; top: 0; width: 100%; height: 48px; padding: 0 27px 0 16px; color: $color-text-dark; background: #FFF;
			font-size: $font-size-md; font-weight: $font-light; line-height: 48px;
			border: 1px solid #B0B8BF; border-radius: 2px; box-sizing: border-box;}
		select.form-select + .form-selected*/


		.form-error {display: none; color: $color-error; background: url(https://static.detstrana.ru/public/user/25/71/12/124cc6_e6db.png) right center no-repeat; background-size: auto 18px;  font-size: $font-size-sm; font-weight: $font-regular;}

		.form-limit {display: block; color: $color-hint-light; font-size: $font-size-sm; font-weight: $font-regular; text-align: right;}

		&.form-group-error {
			input.form-control, input.form-control, textarea {
				margin: 0 0 5px 0; border-bottom: 2px solid $color-error; caret-color: $color-error;
			}
			.form-error {display: block;}
			.form-limit {display: none;}
		}

		&.form-group-limit {
			.form-control {
				margin: 0 0 $mv/2 0; border-bottom: 2px solid $color-limit; caret-color: $color-limit;
			}
			.form-limit {color: $color-limit;}
		}

		&.form-group-checkbox {
			label {
				display: block; padding: 0 0 0 26px; color: #95989A; background: transparent; font-size: $font-size-sm; font-weight: $font-light;
				&::before {content: ''; z-index: 2; position: absolute; left: 0; top: 0; width: 18px; height: 18px; background: #FFF; border: 2px solid #727272; border-radius: 2px; box-sizing: border-box; transition: all .25s ease-out;}
				&::after {content: ''; z-index: 3; position: absolute; left: 3px; top: 3px; width: 12px; height: 8px; border-left: 2px solid #FFF; border-bottom: 2px solid #FFF; box-sizing: border-box; transform: rotate(-45deg); transform-origin: center center; transition: all .25s ease-out;}
				&.form-label-large {color: $color-text-dark; font-size: $font-size-no; font-weight: $font-light;}
			}
			input[type=checkbox] {position: absolute; width: 0px; height: 0px; left: 0px; top: 0px; color: transparent; background: transparent; opacity: 0;}
			input[type=checkbox]:checked + label::before {background: #7fb323; border: 2px solid #7fb323;}
		}

		&.form-group-radio {
			label {
				display: block; padding: 0px 0 0 26px; color: #95989A; background: transparent; font-size: $font-size-sm; font-weight: $font-light;
				&::before {content: ''; position: absolute; left: 0; top: 0px; width: 20px; height: 20px; background: #FFF; border: 2px solid #727272; border-radius: 100%; box-sizing: border-box; transition: all .25s ease-out;}
				&::after {content: ''; z-index: 3; position: absolute; left: 5px; top: 5px; width: 10px; height: 10px; background: #FFF; border-radius: 100%; transition: all .25s ease-out;}
			}
			input[type=radio] {position: absolute; width: 0px; height: 0px; left: 0px; top: 0px; color: transparent; background: transparent; opacity: 0;}
			input[type=radio]:checked + label::before {border: 2px solid #7fb323;}
			input[type=radio]:checked + label::after {background: #7fb323;}
		}


		&.form-group-choice {
			position: relative; min-height: 24px; height: auto; font-size: 0px;
			&::after {content: ''; @include abs-center; z-indeX: 0; width: 34px; height: 14px; margin: 0 auto; background: rgba(127, 179, 35, .5); border-radius: 7px;}

			label {
				@include abs-center-v; z-index: 1; display: inline-block; width: 50%; padding: 0 0 0 30px; color: #B3B3B3; background: transparent;
				font-size: $font-size-sm; font-weight: $font-medium; text-transform: uppercase; text-align: left; box-sizing: border-box;


				&::after {content: ''; @include abs-center-v; left: -20px; width: 20px; height: 20px; background: rgba(127, 179, 35, 1);
					border-radius: 100%; box-sizing: border-box; transition: all .25s ease-out; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);}


				&:first-of-type {
					left: 0; text-align: right; padding: 0 30px 0 0;
					&::after {right: -20px; left: auto;}
				}

				&:last-child {left: 50%;}

			}

			input[type=radio] {position: absolute; width: 0px; height: 0px; left: 0px; top: 0px; color: transparent; background: transparent; opacity: 0;}
			input[type=radio]:checked + label {color: $color-btn-confirm-text;}
			input[type=radio]:checked + label::after {left: 0px;}
			input[type=radio]:checked:first-of-type + label::after {right: 0px; left: auto;}
		}
	
		&.form-group-birthday {
			height: 48px; font-size: 0;

			.form-birthday-day, .form-birthday-month, .form-birthday-year {position: relative; display: inline-block; width: calc(33.333333% - 10px); height: 48px;}
			.form-birthday-month {margin: 0 15px;}

		}

	}
}