/******************************************
***** Grids	
******************************************/

@mixin grid() {
	position: relative; display: block; margin: 0px auto; font-size: 0;
	.cell {position: relative; display: inline-block; font-size: $font-size-no; vertical-align: top; box-sizing: border-box;}
}

.row {
	position: relative; display: block; font-size: 0;
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {display: inline-block; font-size: $font-size-no; text-align: center; vertical-align: top;}
	.col-4 {width: 33.3333333333%;}
}


.grid-2 {
	@include grid(); .cell {width: 50%;}
}

.grid-3 {
	@include grid(); .cell {width: 33.3333333333%;}
}

.grid-4 {
	@include grid(); .cell {width: 25%;}
}

.grid-5 {
	@include grid(); .cell {width: 20%;}
}
