/******************************************
***** Icons	
******************************************/

@mixin icon-rounded() {display: inline-block; width: 45px; height: 45px; text-decoration: none; background-size: 45px 45px; background-repeat: no-repeat;}
@mixin icon-info() {display: inline-block; padding: 0 0 0 24px; color: $color-text-dark;  font-size: $font-size-md; font-weight: $font-light; text-decoration: none; line-height: 16px; background-size: auto 16px; background-repeat: no-repeat; background-position: left center; box-sizing: border-box;}

.icon-rounded {@include icon-rounded();}
.icon-fb {@include icon-rounded(); background-image: url(https://static.detstrana.ru/public/user/7f/71/12/124d20_9225.png);}
.icon-vk {@include icon-rounded(); background-image: url(https://static.detstrana.ru/public/user/82/71/12/124d23_6e41.png);}
.icon-ok {@include icon-rounded(); background-image: url(https://static.detstrana.ru/public/user/85/71/12/124d26_442e.png);}

.icon-info {@include icon-info();}
.icon-info-views {padding-left: 24px; background-image: url(https://static.detstrana.ru/public/user/88/71/12/124d29_e2d4.png);}
.icon-info-comments {padding-left: 19px; background-image: url(https://static.detstrana.ru/public/user/8b/71/12/124d2c_9817.png);}
.icon-info-likes {padding-left: 19px; background-image: url(https://static.detstrana.ru/public/user/8e/71/12/124d2f_8221.png);}
.icon-info-likes-dark {background-image: url(https://static.detstrana.ru/public/user/91/71/12/124d32_5cba.png);}
.icon-info-notes {padding-left: 19px; background-image: url('../img/icons/note.png');}
.icon-info-people {padding-left: 19px; background-image: url('../img/icons/gr.png');}
.icon-participants {background-image: url(https://static.detstrana.ru/public/user/3d/a3/12/127eac_9d1c.png);  background-size: auto; background-position: left top;}



.icon-group {
	.icon-info {margin: 0px 8px;}
}