/******************************************
***** Navigations	
******************************************/

ul.pagination {
	position: relative; list-style: none; list-style-type: none; margin: 0; padding: 0; font-size: 0;
	/*&::after {content: '...'; color: $color-text-dark; font-size: 18px; font-weight: $font-regular;}*/
	> li {
		list-style: none; list-style-type: none; display: inline-block;
		> a {display: block; width: 32px; height: 44px; color: $color-text-dark; background-color: transparent; line-height: 44px; font-size: 18px; font-weight: $font-regular; text-align: center; text-decoration: none; border-radius: 100%; transition: background-color .25s ease;}
		&.active > a { width: 44px; color: #fff; background-color: $color-active; font-size: 22px; font-weight: $font-bold; transition: background-color .5s ease;}
	}
}

ul.nav.nav-dotted {
	width: 100%; padding: 0px; margin: 0px auto; text-align: center;
	> li {
		display: inline-block; margin: 0px 12px; background: transparent; border: 3px solid transparent; border-radius: 100%;
		> a {display: block; width: 10px; height: 10px; margin: 2px; background-color: $color-active; text-decoration: none; border-radius: 100%;}
		&.active {border: 3px solid $color-active; transition: border .5s ease;}
	}

	&.nav-dotted-dark {
		> li.active {border: 3px solid $color-btn-active-text;}
		> li > a {background-color: $color-btn-active-text;}
	}

	&.nav-dotted-inverse {
		padding: 12px 0px; background: #888;
		> li.active {border: 3px solid #FFF;}
		> li > a {background-color: #FFF;}	
	}

	&.nav-dotted-inverse-transparent {@extend .nav-dotted-inverse; background: rgba(66, 66, 66, 0.5);}

	&.nav-dotted-bottom {position: absolute; bottom: 0px; padding: 20px 0;}

	&.nav-dotted-small li, &.nav-dotted-small li.active {
		margin: 0; border-width: 2px;
		> a {width: 5px; height: 5px;}
	}
}

/*ul.nav.nav-tabs {
	position: relative; display: block; z-index: 10; width: 100%; padding: 0px; margin: 0px auto; text-align: center; font-size: 0px;
	> li {position: relative; display: inline-block;}
	> li > a {display: block; width: 100%; height: 100%; color: $color-btn-active-text; background: #FFF; font-size: $font-size-md; font-weight: $font-medium; text-decoration: none; text-transform: uppercase; line-height: $header-height;  transition: background .15s ease-out;}
	> li.active > a {color: #FFF; background: $color-btn-active;}
}*/


.nav-tabs-container {
	position: relative; z-index: 10;
	.border {position: absolute; z-index: 10; left: 0px; bottom: 0px; width: 0%; height: 4px; background: #fff; transition: all .25s ease;}
}

ul.nav.nav-tabs.nav-tabs-bordered {
	list-style: none; list-style-type: none; position: relative; z-index: 1; display: block; width: 100%; padding: 0px; margin: 0px auto; text-align: center; font-size: 0px; /*@include shadow-block();*/
	> li {list-style: none; list-style-type: none; position: relative; display: inline-block; height: 48px;}
	/*> li::after {content: ''; position: absolute; left: 0px; bottom: 0px; width: 0%; height: 4px; background: #fff; transition:none;}*/
	> li > a {display: block; width: 100%; height: 100%; color: #FFF; background: $color-btn-active; font-size: $font-size-md; font-weight: $font-medium; text-decoration: none; text-transform: uppercase; line-height: 50px;  transition: background .15s ease-out;}
	/*> li.active::after {width: 100%; transition:  width .25s ease;}*/

	&.nav-tabs-large {
		height: 56px;
		> li {height: 56px;}
		> li > a {line-height: 58px;}
	}

	&.nav-tabs-font--sm {
		> li > a {font-size: $font-size-sm;}
	}

	&.nav-tabs-scrollable {
		white-space: nowrap;
		> li > a {font-size: 13px; font-weight: $font-medium;}
	}
}


ul.nav.nav-tags {
	list-style: none; list-style-type: none; padding: 0;
	> li {display: inline-block; list-style: none; list-style-type: none; padding: 0; margin: 0}
	> li > a {display: block; padding: 8px 20px; color: $color-active; border-radius: 3px; font-size: $font-size-md; font-weight: $font-medium; text-decoration: none; transition: background .25s ease-out; }
	> li.active a {background: rgba(153, 153, 153, .2);}
}