/******************************************
***** Popups	
******************************************/

.popup {

	z-index: 10000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; background: rgba(0,0,0,.5);	
	transform: translate3d(0, -100%, 0); transition: transform .3s ease-out;
	
	.popup__header {z-index: 2; position: relative; height: $header-height; background: #FFF; box-sizing: border-box; transform: translate3d(0,0,0);}
	.popup__body {z-index: 1; position: relative; width: calc(100% - 56px); height: calc(100% - 56px); background: #FAFAFA; box-sizing: border-box; overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}
	.popup__close {z-index: 10; display: block; position: absolute; top: 0px; width: $header-height; height: $header-height; background: #898989 url(https://static.detstrana.ru/public/user/f1/70/12/124c93_25db.png) center center no-repeat; background-size: 14px 14px; box-sizing: border-box;}

	&.popup-full {
		transform: translate3d(0, -100%, 0);
		&.popup-open {transform: translate3d(0, 0, 0);}
		.popup__body {width: 100%;}
		.popup__close {right: 0px;}
	}

	&.popup-left {
		transform: translate3d(100%, 0, 0);
		&.popup-open {transform: translate3d(0, 0, 0);}
		.popup__header {margin: 0 $header-height 0 0;}
		.popup__close {right: 0px;}
	}

	&.popup-right {
		transform: translate3d(-100%, 0, 0);
		&.popup-open {transform: translate3d(0, 0, 0);}
		.popup__header {margin: 0 0 0 $header-height;}
		.popup__body {left: $header-height;}
		.popup__close {left: 0px;}
	}
	
	/*&.popup-news, &.popup-articles, &.popup-add-child, &.popup-add-child*/
	&.popup-full {
		.popup__back {z-index: 10; position: absolute; left: 0; top: 0; width: $header-height; height: $header-height; background: $img-arrow center center no-repeat; background-size: auto 12px; opacity: 0; transform: scaleX(-1); transition: opacity .25s ease-out;}
		.popup__back.active {opacity: .75;}

		.popup__menu {position: relative; width: 100%; height:100%; background: #FFF;}
		.popup__submenu {position: absolute; width: 100%; height:100%; left: 0px; top: 0px; background: #FFF; transform: translate3d(100%,0,0);transition: transform .25s ease-out;}
		.popup__submenu.active {transform: translate3d(0,0,0);}

		.popup__close {background-color: #FFF; right: 0px; opacity: .75;}
		
		.popup__header {width: 100%; padding: 0px $header-height; color: $color-text-lightest; background: #FFF; font-size: $font-size-no; font-weight: $font-regular; line-height: $header-height; white-space: nowrap; box-sizing: border-box; overflow: hidden;}
		
		ul.popup__links {
			z-index: 1; position: relative; list-style: none; list-style-type: none; width: 100%;  margin: 0; padding: 0;
			> li {
				position: relative; display: block; list-style: none; list-style-type: none; margin: 0; padding: 0;
				&.haschildren::after {content: ''; @include abs-center-v(); right: 24px; width: 9px; height: 9px; background: $img-arrow center center no-repeat; background-size: contain; opacity: .75;}
				> a {display: block; padding: 10px 32px 10px 16px; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-regular; text-decoration: none;}
			}
		}
	}

	&.popup-nav-main {
		.popup__inner {position: relative; min-height: 542px; padding: 20px 12px 20px 32px; box-sizing: border-box;}

		.popup__header form.form-search {margin: 0; padding: 4px; margin: 0 0 $mv*2 0; background: #FAFAFA;}

		ul.popup-nav-main__links {
			position: relative; list-style: none; list-style-type: none; width: 100%; padding: 0; margin: 0 0 $mv*2 0;
			> li {position: relative; display: block; margin: 0; padding: 0;}
			> li > a {color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-medium; text-decoration: none; line-height: 32px;}
			> li.active > a {color: $color-active;}			
		}

		.popup-nav-main__links-alt {margin: 0 0 $mv*2 -12px;}

		.popup-nav-main__social {
			margin: 0 0 $mv*3 -12px; text-align: left;
			a {margin: 0 12px;}
		}

		.popup-nav-main__bottom-links {
			position: absolute; left: 32px; bottom: 20px;
			a {color: $color-text-lightest; font-size: $font-size-no; font-weight: $font-light; line-height: 48px; text-decoration: underline;}
		}	
	}

	&.popup-profile {
		.popup__body {height: calc(100% - 112px); padding: 24px 16px 0px 32px;}

		.popup__header {
			 height: $header-height * 2; background: #616161;
			.popup-profile__avatar {position: relative; width: $header-height * 2; height: $header-height * 2;}
			.popup-profile__avatar img {width: 64px; height: 64px; border: none; @include abs-center();}
			.popup-profile__username {@include abs-center-v(); left: $header-height * 2; color: #FFF; font-size: $font-size-md; font-weight: $font-medium; line-height: 112px; }
		}
		
		ul.popup-profile__links {
			position: relative; display: block; list-style: none; list-style-type: none; margin: 0; padding: 0;
			> li {position: relative; display: block; margin: 0; padding: 0;}
			> li > a {color: $color-text-darkest; font-size: $font-size-md; font-weight: $font-medium; text-decoration: none; line-height: 36px;}
			> li.active > a {color: $color-active;}	
			> li.alt:nth-child(odd) {margin-top: 60px;}	
			> li.alt > a {color: $color-text-lightest;}			
		}

		.popup-profile__messages {margin-left: 100px;}

 		/*class="popup-profile__link-alt"*/

		.popup-profile__bottom-links {
			/*position: absolute; left: 32px; top: 470px;*/ position: relative; margin-top: 100px;
			a {color: $color-text-lightest; font-size: $font-size-md; font-weight: $font-medium; line-height: 36px; text-decoration: none;}
		}			

	}

	&.popup-register {

		.popup-register__tabs {position: relative; transition: transform .25s ease-out; white-space: norwap; width: 100%; height: 100%; /*overflow-x: hidden;*/}

		.popup-register__register, .popup-register__login {position: absolute; display: block; top: 20px; width: 100%; height: calc(100% - 20px); background: #FAFAFA; white-space: normal; box-sizing: border-box; transition: none;}
		.popup-register__login {left: 0;}
		.popup-register__register {left: 100%;}

		.popup-register__block {display: block;}

		.form-group {
			&.form-group-checkbox {margin: 0 6px 10px 6px;}
			&.popup-register__user, &.popup-register__email, &.popup-register__password {padding: 0 24px 0 32px; background-repeat: no-repeat; }



			&.popup-register__user {background-image: url(https://static.detstrana.ru/public/user/94/71/12/124d35_aaa4.png); background-position: 10px 22px; background-size: auto 16px;}
			&.popup-register__email {background-image: url(https://static.detstrana.ru/public/user/97/71/12/124d38_1eeb.png); background-position: 8px 25px; background-size: auto 12px;}
			&.popup-register__password {background-image: url(https://static.detstrana.ru/public/user/9a/71/12/124d3b_6037.png);  background-position: 9px 22px; background-size: auto 15px;}
		}

		.popup-register__social-title {margin: 0 0 10px 0; color: #95989A; font-size: $font-size-md; font-weight: $font-light; text-align: center;}

		.popup-register__social {
			text-align: center;
			a {margin: 0 12px; vertical-align: middle;}
		}
	}
	
	&.popup-date {

		.popup__body {
			padding: 10px;
			.popup-date__calendar {
				width: 294px; margin: 0 auto;
				.popup-date__calendar-header {
					position: relative; font-size: $font-size-md; font-weight: $font-medium; text-align: center; line-height: 36px;
					
					
					a.popup-date__calendar-rewind {content: ''; @include abs-center-v(); left: 12px; width: 9px; height: 9px; background: $img-arrow center center no-repeat; background-size: contain; transform: scaleX(-1) translateY(-50%);}
					a.popup-date__calendar-forward {content: ''; @include abs-center-v(); right: 12px; width: 9px; height: 9px; background: $img-arrow center center no-repeat; background-size: contain;}
				}
				.popup-date__calendar-weekdays {
					font-size: 0;
					> div {display: inline-block; width: 42px; height: 42px; color: #999; font-size: $font-size-sm; font-weight: $font-medium; text-align: center; line-height: 36px;}
				}
				.popup-date__calendar-days {
					font-size: 0; text-align: center;
					> div {position: relative; display: inline-block; width: 42px; height: 42px; color: $color-text-darkest; font-size: $font-size-sm; font-weight: $font-regular; text-align: center; vertical-align: top; line-height: 44px; box-sizing: border-box;}
					> div.active {color: #FFF; background: $color-btn-active; border-radius: 100%;}	
				}
			}
		}
   		
	}

	&.popup-center {
		&.popup-open {transform: translate3d(0, 0, 0);}
		.popup__close {background-color: #FFF; right: 0px; opacity: .75; top: 25%;}
		.popup__header {padding: 0px 72px 0px 16px; color: $color-text-lightest; background: #FFF; font-size: $font-size-no; font-weight: $font-regular; line-height: $header-height; top: 25%;}
		ul.popup__links {
			z-index: 1; position: relative; list-style: none; list-style-type: none; width: 100%;  margin: 0; padding: 0;
			> li {
				position: relative; display: block; list-style: none; list-style-type: none; margin: 0; padding: 0;
				> a {display: block; padding: 10px 32px 10px 16px; color: $color-text-darkest; font-size: $font-size-no; font-weight: $font-regular; text-decoration: none;}
			}
		}
		.popup__body {top: 25%; width: 100%;}
	}
	&.popup-doctors {
		.filter-abc-linear {position: absolute; right: 10px; top: 0; padding: 0; list-style: none; z-index: 10;
			> li { padding: 0px 0 20px; position: relative; text-align: center;
				&:after {content:''; width: 5px; height: 5px; border-radius: 100%; position: absolute; background: $color-active; right: 4px; bottom: 8px; }
				&:last-child::after {content: none;}
				> a {text-decoration: none; font-weight: $font-regular;}
			}
		}
	}


}

@media screen and (orientation: landscape) and (max-width: 750px)
{
	.landscape-only {display: block;}
	.portrait-only {display: none;}

	.popup {
		&.popup-nav-main {
			.popup__inner {position: relative; min-height: 220px;}
			ul.popup-nav-main__links {
				> li {display: inline-block; width: 20%;}
			}
			.popup-nav-main__links-alt {width: 100%;}
			.popup-nav-main__social {}
			.popup-nav-main__bottom-links {bottom: auto; top: 160px; left: 300px;}
		}
		
		&.popup-profile {
			ul.popup-profile__links {
				display: inline-block; vertical-align: top;
				&:nth-child(odd) {width: 300px;}
				&:nth-child(even) {width: 30%;}
				/*li.alt {margin: 0 !important;}*/
			}
			.popup-profile__messages {margin-left: 120px;}
			.popup-profile__bottom-links {position: absolute; bottom: auto; top: 96px; left: 336px; margin-top: 0;}
		}

		&.popup-register {
			.popup-register__block {display: inline-block; width: 48%; vertical-align: top;}
		}
		
	}
}