/******************************************
***** Sliders	
******************************************/

.slider {
	position: relative; 
	.slider-wrapper {
		position: relative; width: 100%; overflow:hidden;
		.slides {
			width: 100%; white-space: nowrap; font-size: 0; overflow: visible; transform: translate3d(0,0,0); transition: transform .5s ease-out;
			.slide {width: 100%; display: inline-block; transition: opacity .5s ease-out;}
			.slide.active {}
		}
	}
	&.moving .slides {transition: none;}

	&.nav-tabs-slider {
		position: relative; padding: 0 16px; background: $color-btn-active;
		.slider-rewind, .slider-forward {position: absolute; top: 0px; width: 16px; height: 100%; background: url(https://static.detstrana.ru/public/user/0a/6b/12/1246b1_3add.png) center center no-repeat; background-size: 8px auto;  border-left: 1px solid #FFF; transform-origin: center center; box-sizing: border-box;}
		.slider-rewind {left: 0px; transform: scaleX(-1);}
		.slider-forward {right: 0px;}
	}

	&.analysis-calendar-slider {
		position: relative; padding: 0 20px;
		.slider-rewind, .slider-forward {position: absolute; top: 0px; width: 16px; height: 100%; background: url('../img/icons/arrow.png') center center no-repeat; background-size: 8px auto; transform-origin: center center; box-sizing: border-box;}
		.slider-rewind {left: 0px; transform: scaleX(-1);}
		.slider-forward {right: 0px;}
	}
}