/******************************************
***** Tables	
******************************************/

table.table {
	border: none; border-collapse: collapse;
	th {padding: 16px 6px; color: $color-text-dark; font-size: $font-size-md; font-weight: $font-regular; font-style: normal; text-align: left;}
	td {padding: 12px 6px; color: $color-text-lightest; font-size: $font-size-md; font-weight: $font-light;}
	td a {color: $color-text-dark; text-decoration: none;}

	&.table-striped tr:nth-child(even) td {background: #eee;}


	&.table-arrowed tr > td:last-child {
		&::after {content: ''; float: right; display: inline-block; width: $font-size-md; height: $font-size-md; background: $img-arrow center center no-repeat; background-size: auto 9px; opacity: .75;}
	}

	/*td.td-dark {color: $color-text-dark;}
	td.td-light {color: $color-text-lightest;}*/
}